.modal {
    &-content {
        background: $light-bg;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
        border-radius: 8px;
        font-family: "Montserrat", sans-serif;
    }

    &-sm {
        max-width: 340px;
    }

    &-header {
        padding: 20px;
        border-bottom: 1px solid $main-bg;

        .close {
            opacity: 1;
            cursor: pointer;
            @include bg-svg($close);
            padding: 0;
            margin: 0;
        }
    }

    &-title {
        font-size: 18px;
        line-height: 22px;
        color: $gray-color;
    }

    &-body {
        padding: 20px;

        .btn-border {
            margin-bottom: 20px;
            background: $light-bg;
            padding: 9px 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
