<div class="container">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-border" data-toggle="modal" data-target="#modalLogAs">Login as</button>

        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"
     id="modalLogAs">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login as</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <a href="#" class="btn btn-border">Advertiser</a>
                <a href="#" class="btn btn-border">Server owner</a>
            </div>
        </div>
    </div>
</div>
