<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="page__wrapper">

            <ul>
                <li>
                    <a href="reviews.html">reviews</a>
                </li>
                <li>
                    <a href="dashboard.html">dashboard</a>
                </li>
                <li>
                    <a href="orders.html">orders</a>
                </li>
                <li>
                    <a href="main.html">main-page</a>
                </li>
                <li>
                    <a href="payments.html">payments</a>
                </li>
                <li>
                    <a href="filter-page.html">filter-page</a>
                </li>
                <li>
                    <a href="server-checkout.html">server-checkout</a>
                </li>
                <li>
                    <a href="server-setup.html">server-setup</a>
                </li>
                <li>
                    <a href="server-page.html">server-page</a>
                </li>
                <li>
                    <a href="landing.html">landing page</a>
                </li>
                <li>
                    <a href="privacy-policy.html">privacy policy</a>
                </li>
                <li>
                    <a href="terms-of-service.html">term of service</a>
                </li>
                <li>
                    <a href="404-page.html">404</a>
                </li>
                <li>
                    <a href="server-no-data.html">no data</a>
                </li>
                <li>
                    <a href="partner-main.html">partner-main</a>
                </li>
                <li>
                    <a href="partner-main.html">modal</a>
                </li>
            </ul>

        </section>

        <footer class="page__footer">
            {{> footer/footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/jquery.min.js"></script>
        <script src="%=static=%js/bootstrap.bundle.min.js"></script>
        <script src="%=static=%js/bootstrap-select.min.js"></script>
        <script src="%=static=%js/bootstrap-datepicker.min.js"></script>
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
