<div class="d-none d-lg-flex filter">
    <div class="filter__group">
        <label>Users
            Range</label>
        <input type="text" class="filter__group--input" value="0">
        <input type="text" class="filter__group--input" value="154.45">
    </div>

    <div class="filter__group mr-0">
        <label>Price Range</label>
        <input type="text" class="filter__group--input" value="0">
        <input type="text" class="filter__group--input" value="154.45">
    </div>

    <div class="d-flex filter__group-check">
        <div class="form-checkbox">
            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox14">
            <label class="form-checkbox-label" for="checkbox14">
                Allows
                Links
            </label>
        </div>
        <div class="form-checkbox">
            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox15">
            <label class="form-checkbox-label" for="checkbox15">
                Allows
                Pings
            </label>
        </div>
        <div class="form-checkbox">
            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox16">
            <label class="form-checkbox-label" for="checkbox16">
                Allows
                Invites
            </label>
        </div>
        <div class="form-checkbox">
            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox17">
            <label class="form-checkbox-label" for="checkbox17">
                Allows
                NSFW
            </label>
        </div>
    </div>
</div>

<a href="filter-page.html" class="d-flex d-lg-none filter-min">
    <div class="icon icon-filter"></div>
    Filters
    <div class="arrow"></div>
</a>
