<div class="review">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="main.html" class="link-back"><div class="icon-back-blue"></div> Back to Browse</a>

                <form>
                <div class="filter-list">
                    <div class="filter-list__block">
                        <div class="filter__group">
                            <label>Users
                                Range</label>
                            <input type="text" class="filter__group--input" value="0">
                            <input type="text" class="filter__group--input" value="154.45">
                        </div>

                        <div class="filter__group">
                            <label>Price Range</label>
                            <input type="text" class="filter__group--input" value="0">
                            <input type="text" class="filter__group--input" value="154.45">
                        </div>
                    </div>

                    <div class="filter-list__block">
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox24">
                            <label class="form-checkbox-label" for="checkbox24">
                                Allows
                                Links
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox25">
                            <label class="form-checkbox-label" for="checkbox25">
                                Allows
                                Pings
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox26">
                            <label class="form-checkbox-label" for="checkbox26">
                                Allows
                                Invites
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox27">
                            <label class="form-checkbox-label" for="checkbox27">
                                Allows
                                NSFW
                            </label>
                        </div>
                    </div>

                    <div class="filter-list__block">
                        <div class="aside-select">
                            <div class="aside-select__title">Sort by</div>
                            <select class="select">
                                <option>Trending</option>
                                <option>Trending</option>
                                <option>Trending</option>
                            </select>
                        </div>

                        <div class="aside-select">
                            <div class="aside-select__title">Language</div>
                            <select class="select">
                                <option>All</option>
                                <option>All</option>
                                <option>All</option>
                            </select>
                        </div>
                    </div>

                    <div class="filter-list__block">
                        <div class="aside-block__title">Categories</div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox1">
                            <label class="form-checkbox-label" for="checkbox1">
                                Adult
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox2">
                            <label class="form-checkbox-label" for="checkbox2">
                                Anime
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox3">
                            <label class="form-checkbox-label" for="checkbox3">
                                Art
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox4">
                            <label class="form-checkbox-label" for="checkbox4">
                                Business
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox5">
                            <label class="form-checkbox-label" for="checkbox5">
                                Community
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox6">
                            <label class="form-checkbox-label" for="checkbox6">
                                Crypto
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox7">
                            <label class="form-checkbox-label" for="checkbox7">
                                Education
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox8">
                            <label class="form-checkbox-label" for="checkbox8">
                                Entertainment
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox9">
                            <label class="form-checkbox-label" for="checkbox9">
                                Financial
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox10">
                            <label class="form-checkbox-label" for="checkbox10">
                                Gaming
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox11">
                            <label class="form-checkbox-label" for="checkbox11">
                                Language
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox12">
                            <label class="form-checkbox-label" for="checkbox12">
                                LGBT
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox13">
                            <label class="form-checkbox-label" for="checkbox13">
                                Meme
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox14">
                            <label class="form-checkbox-label" for="checkbox14">
                                Movies
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox15">
                            <label class="form-checkbox-label" for="checkbox15">
                                Movies
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox16">
                            <label class="form-checkbox-label" for="checkbox16">
                                Other
                            </label>
                        </div>
                        <div class="form-checkbox">
                            <input class="form-checkbox-input" type="checkbox" value="" id="checkbox17">
                            <label class="form-checkbox-label" for="checkbox17">
                                Technology
                            </label>
                        </div>
                    </div>
                </div>
                    <div class="save-change">
                    <button type="submit" class="btn w-100 btn-blue text">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
