.filter {
    margin-bottom: 30px;
    padding: 20px;
    background: #25303B;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    align-items: center;

    @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__group {
        display: flex;
        align-items: center;

        &:first-child {
            margin-right: 30px;
            @media screen and (max-width: 1200px) {
                margin-right: 0;
            }
        }

        label {
            @extend %text;
            width: 58px;
            display: block;
            margin-right: 10px;
            color: $gray-color;
            flex-shrink: 0;
            margin-bottom: 0;
            @media screen and (max-width: 1200px) {
                width: auto;
            }
            @media screen and (max-width: 992px) {
                width: 58px;
            }
        }

        &--input {
            width: 100px;
            height: 40px;
            background: #1A222C;
            box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            text-align: center;
            border: none;
            color: $gray-color;
            flex-shrink: 0;

            &:last-child {
                margin-left: 10px;
            }

            &::placeholder {
                color: $gray-color;
                @extend %text;
            }

            &:focus, &:active {
                outline: none;
                box-shadow: none;
            }
        }

        @media screen and (max-width: 1200px) {
            width: 50%;
            padding-right: 15px;
            margin-right: 0;
            box-sizing: border-box;
        }
    }

    &__group-check {
        margin-left: 55px;
        align-items: center;
        @media screen and (max-width: 1200px) {
            margin-left: 0;
            margin-top: 20px;
            width: 100%;
        }

        .form-checkbox {
            margin-right: 30px;
            margin-bottom: 0;
            @media screen and (max-width: 1200px) {
                margin-right: 0;
                width: 25%;
            }

            &:last-child {
                margin-right: 0;
            }

            &-label {
                color: $gray-color;
            }
        }
    }
}

.filter-min {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: $light-gray-color;
    text-decoration: none;
    transition: all 0.25s;
    padding: 18px 20px;
    background: $light-bg;
    border-radius: 8px;
    border-bottom: none;
    margin-bottom: 20px;

    .icon {
        margin-right: 10px;
    }

    &:hover {
        color: $link-color;
        text-decoration: none;

        .arrow {
            border-color: $link-color;
            opacity: 1;
        }
        .icon-filter {
            opacity: 1;
            @include bg-svg($filter-hover);
        }
    }

    .arrow {
        margin-left: auto;
        display: block;
        height: 16px;
        width: 16px;
        border-bottom: 2px solid $white-color;
        border-right: 2px solid $white-color;
        transform: rotate(-45deg);
        opacity: 0.2;
        transition: all 0.25s;

        &:hover {
            opacity: 1;
            border-color: $link-color;
        }
    }
}

.filter-list {
    background: $light-bg;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;

    &__block {
        padding: 20px;
        border-bottom: 1px solid #1A222C;

        &:last-child {
            border-bottom: none;
        }
    }

    .aside-select:last-child {
        margin-bottom: 0;
    }

    .form-checkbox:last-child {
        margin-bottom: 0;
    }

    .filter__group {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding-right: 0;

        label {
            margin-bottom: 10px;
            width: 100%;
            display: block;
        }

        input {
            width: calc(50% - 5px);
        }
    }
}
