// Common styles of the project
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');

html, body {
    height: 100%;
    font-family: 'Montserrat';
    font-weight: 400;
}

.page {
    background-color: $main-bg;
    display: flex;
    flex-direction: column;
}

.page__footer {
    margin-top: auto;
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}

.link {
    color: $link-color;
    @extend %p;
    text-decoration: none;
    margin-bottom: 0;
    transition: all 0.25s;

    &:hover {
        text-decoration: none;
        color: $link-color;
        opacity: 0.8;
    }

    &:active, &:focus {
        color: $link-color;
        opacity: 0.8;
    }
}

.block-title {
    @extend %h5;
    color: #A6B4C4;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 0;

    &__textarea {
        resize: none;
        background: #1A222C;
        box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 10px;
        @extend %p;
        color: $gray-color;
        width: 100%;
        border: none;

        &::placeholder {
            @extend %p;
            color: $gray-color;
            opacity: 0.5;
        }

        &:focus, &:active {
            outline: none;
        }
    }
}

.form-checkbox {
    position: relative;
    margin-bottom: 10px;

    &-input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    &-label {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-family: "Montserrat";
        font-size: 16px;
        line-height: 20px;
        color: #F7F6F7;
        margin-bottom: 0;
        transition: all 0.25s;

        &:before {
            content: "";
            display: block;
            border: 2px solid $link-color;
            box-sizing: border-box;
            box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            flex-shrink: 0;
        }

        &:hover {
            color: $link-color;
        }
    }

    &-input:checked + label:before {
        background-color: $link-color;
    }
}

.btn, .input-submit {
    display: block;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: center;

    &:hover {
        text-decoration: none;
    }

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }
}

.btn-border {
    background: $main-bg;
    border: 1px solid $link-color;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    @extend %text;
    color: $light-gray-color;
    padding: 10px 50px;

    &:hover {
        color: $link-color;
    }

    &:focus, &:active {
        color: $link-color;
        opacity: 0.7;
    }
}

.btn-link {
    color: $link-color;
    text-decoration: none;
    @extend %text;
    padding: 10px 0;

    &:hover {
        color: $light-gray-color;
        text-decoration: none;
    }

    &:focus, &:active {
        color: $light-gray-color;
        opacity: 0.7;
        text-decoration: none;
    }
}

.btn-blue {
    background: $link-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #F7F6F7;
    padding: 10px 20px;
    box-sizing: border-box;
    @extend %p;
    flex-shrink: 0;
}

.btn-red-line {
    background: transparent;
    border: 1px solid $red-color;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: all 0.25s;
    color: $red-color;
    padding: 10px 20px;
    @extend %text;
    box-sizing: border-box;

    &:hover {
        color: $white-color;
        background: $red-color;
    }

    &:focus, &:active {
        opacity: 0.7;
    }
}

.group-form {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    @media screen and (max-width: 576px) {
        flex-wrap: wrap;
        .btn {
            width: 100%;
            margin-top: 10px;
        }
    }

    &__input {
        height: 35px;
        background: $main-bg;
        box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        @extend %p;
        padding: 9px 20px;
        border: none;
        color: $light-gray-color;
        margin-right: 20px;
        width: 100%;
        @media screen and (max-width: 576px) {
            margin-right: 0;
        }

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }

        &::placeholder {
            @extend %p;
            color: #4F5B68;
        }
    }

    .btn-blue {
        line-height: 15px;
    }
}

.btn-tooltip {
    display: block;
    flex-shrink: 0;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    @include bg-svg($icon-tooltip);

    &:hover {
        @include bg-svg($icon-tooltip-hover);
    }
}

.tooltip-inner {
    background: #283646;
    border: 1px solid #A8B4C2;
    box-sizing: border-box;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    padding: 10px;
    @extend %p;
    color: #96A3B3;
    opacity: 1;
    max-width: 300px;
    text-align: left;
    @media screen and (max-width: 576px) {
        max-width: 250px;
    }
}

.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #A8B4C2 !important;
    bottom: -1px;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #A8B4C2 !important;
    top: -1px;
}

.bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: #A8B4C2 !important;
    left: -1px;
}

.bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #A8B4C2 !important;
    right: -1px;
}

.tooltip {
    opacity: 1 !important;
    max-width: 300px;
    @media screen and (max-width: 576px) {
        max-width: 250px;
    }


    .arrow:before {
        //box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    }

}

.link-back {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    text-decoration: none;
    color: $link-color;
    @extend %text;
    line-height: 24px;

    .icon-back-blue {
        margin-right: 10px;
        flex-shrink: 0;
    }

    &:hover {
        color: $link-color;
        text-decoration: none;
    }

    &:focus, &:active {
        box-shadow: none;
        outline: none;
        opacity: 0.7;
        text-decoration: none;
    }
}

.bootstrap-select {
    transition: none !important;

    &:focus, &:active {
        outline: none !important;
    }
}

.bootstrap-select > .dropdown-toggle {
    background: #1A222C !important;
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px;
    padding: 9px 30px 9px 10px;
    transition: none !important;
    border: none !important;

    &:focus, &:active {
        outline: none !important;
    }

    &[aria-expanded="true"] {
        &:after {
            transform: rotate(-135deg);
            bottom: -5px;
            top: 0;
        }
    }

    &:after {
        width: 15px;
        height: 15px;
        border-bottom: 2px solid $white-color;
        border-right: 2px solid $white-color;
        transform: rotate(45deg);
        opacity: 0.2;
        transition: all 0.25s;
        position: absolute;
        top: -5px;
        bottom: 0;
        right: 15px;
        margin: auto;
        border-top: none;
        border-left: none;
    }
}

.filter-option-inner-inner {
    @extend %p;
    color: #A6B4C4;
}

.dropdown-menu {
    background: $main-bg;
    border: none;

    .dropdown-item {
        padding: 5px 10px;
        color: $white-color;
        @extend %p;

        &:hover {
            color: $white-color;
            background: $light-bg;
        }
    }
}

.bootstrap-select.select-auto {
    width: auto !important;

    .dropdown-toggle {
        padding: 9px 50px 9px 20px !important;

        &[aria-expanded="true"] {
            &:after {
                transform: rotate(180deg);
            }
        }

        &:after {
            border-top: 0.3em solid $white-color;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            transform: rotate(0);
            opacity: 0.2;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 15px;
            width: 0;
            height: 0;
        }
    }
}

.rating-rate {
    flex-direction: row-reverse;
    align-items: center;
}

.rating-rate:not(:checked) > input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.rating-rate:not(:checked) > label {
    cursor: pointer;
    @include bg-svg($star);
    margin-bottom: 0;
    opacity: 0.5;
}

.rating-rate > input:checked ~ label {
    @include bg-svg($star-full);
    opacity: 1;
}

.rating-rate:not(:checked) > label:hover,
.rating-rate:not(:checked) > label:hover ~ label {
    @include bg-svg($star-full);
    opacity: 0.7;
}

.rating-rate > input:checked + label:hover,
.rating-rate > input:checked + label:hover ~ label,
.rating-rate > input:checked ~ label:hover,
.rating-rate > input:checked ~ label:hover ~ label,
.rating-rate > label:hover ~ input:checked ~ label {
    @include bg-svg($star-full);
    opacity: 0.7;
}

.datepicker {
    padding: 4px 0 !important;
    background-color: #2B3645;
}

.datepicker-dropdown {
    border: 1px solid $gray-color;

    &:after {
        border-bottom: 6px solid $gray-color !important;
    }

    .table-condensed {
        color: #fafbfe;
        font-family: "Montserrat" !important;
        font-weight: 400 !important;

        .month {
            &:hover {
                background: $link-color;
            }

            &.disabled:hover {
                background-color: #25303B;
            }

            &.focused {
                background: $link-color;
            }
        }

        .year {
            &:hover {
                background: $link-color;
            }

            &.disabled:hover {
                background-color: #25303B;
            }

            &.focused {
                background: $link-color;
            }
        }

        thead {
            padding: 4px;
            border-bottom: 1px solid $gray-color;

            .datepicker-switch, .prev, .next {
                &:hover {
                    background: $link-color;
                }
            }

            .prev {
                content: '';
            }

            .next {
                content: '';
            }
        }

        tbody {
            padding: 4px;

            tr td {

            }

            .day {
                color: rgb(179, 182, 189);
                &:hover {
                    background: $link-color;;
                }

                &.disabled, &.old {
                    color: rgb(89, 98, 113);
                }

                &.active {
                    background-image: none;
                    background-color: $link-color;
                    text-shadow: none;
                    color: $light-gray-color;
                }
            }
        }
    }

    .datepicker-switch, .dow {
        font-family: "Montserrat" !important;
        font-weight: 400 !important;
    }

    .datepicker-days {
        .table-condensed {
            color: #fafbfe;
            font-family: "Montserrat" !important;
            font-weight: 400 !important;

            .month {
                &:hover {
                    background: $link-color;
                }

                &.disabled:hover {
                    background-color: #25303B;
                }

                &.focused {
                    background: $link-color;
                }
            }

            .year {
                &:hover {
                    background: $link-color;
                }

                &.disabled:hover {
                    background-color: #25303B;
                }

                &.focused {
                    background: $link-color;
                }
            }

            thead {
                padding: 4px;
                border-bottom: 1px solid $gray-color;

                .datepicker-switch, .prev, .next {
                    &:hover {
                        background: $link-color;
                    }
                }

                .prev {
                    content: '';
                }

                .next {
                    content: '';
                }

                tr {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:first-child {
                        padding: 0;
                    }

                    &:nth-child(2) {
                        margin: 4px 0 8px 0;
                        font-size: 16px;
                        line-height: 20px;
                        th {
                            height: 20px;
                            margin: 0;

                            &:nth-child(2) {
                                font-size: 16px;
                                line-height: 20px;
                                width: 150px;
                                font-weight: bold !important;
                            }
                        }
                    }

                    &:last-child {
                        margin-bottom: 8px;
                        th {
                            color: #F7F6F7;
                        }
                    }

                    th {
                        display: block;
                        flex-shrink: 0;
                        width: 27px;
                        height: 17px;
                        margin: 2.5px;
                        text-align: center;
                        font-size: 14px;
                        line-height: 17px;
                        color: #F7F6F7;

                        &.next, &.prev {
                            color: rgb(45, 54, 69);
                            position: relative;
                            z-index: 1;

                            &:before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                height: 0;
                                width: 0;
                                margin: auto;
                            }

                            &:hover, &:active, &:focus {
                                background-color: rgb(45, 54, 69);
                                color: rgb(45, 54, 69);
                            }
                        }

                        &.next:before {
                            right: 0;
                            border: 5px solid transparent;
                            border-left: 7px solid rgb(168, 182, 195);
                        }

                        &.prev:before {
                            left: 0;
                            border: 5px solid transparent;
                            border-right: 7px solid rgb(168, 182, 195);
                        }
                    }
                }
            }

            tbody {
                padding: 4px;

                tr {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 10px;

                    &:first-child {
                        padding-top: 7px;
                    }

                    &:last-child {
                        padding-bottom: 7px;
                    }

                    td {
                        display: block;
                        flex-shrink: 0;
                        padding: 0;
                        width: 27px;
                        height: 27px;
                        margin: 2.5px;
                        line-height: 27px;
                        font-size: 14px;
                        text-align: center;
                        color: #F7F6F7;
                        &.today {
                            background-color: transparent !important;
                            background-image: none !important;
                            &:hover {
                                color: #F7F6F7;
                                background-color: $link-color;
                                background-image: none !important;
                            }
                        }
                    }
                }

                .day {
                    &:hover {
                        background: $link-color;
                    }

                    &.today {
                        background-color: transparent !important;
                        background-image: none !important;
                    }
                }
            }
        }
    }
}

.tooltip {
    &__time {
        width: 242px;
        display: flex;
        flex-wrap: wrap;

        &--header {
            text-align: center;
            border-bottom: 1px solid $gray-color !important;
            padding: 0 0 8px 0;
            width: 100%;
            flex-shrink: 0;
            position: relative;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: #F7F6F7;

            &:after, &:before {
                content: '';
                display: block;
                border-bottom: 1px solid $gray-color !important;
                height: 0;
                width: 10px;
                bottom: -1px;
                position: absolute;
            }

            &:after {
                right: -10px;
            }

            &:before {
                width: 8px;
                left: -8px;
            }
        }
    }

    &-inner {
        padding: 8px 10px 10px 8px;
        background-color: #2B3645;
    }

    &__item {
        width: 50px;
        height: 27px;
        flex-shrink: 0;
        line-height: 27px;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
        color: #F7F6F7;
        margin: 2.5px 5px;
        font-size: 14px;

        &:hover {
            background-color: $link-color;
        }

        &.active {
            background-color: $link-color;
        }

        &.disabled {
            color: #65707E;

            &:hover {
                background-color: #283646;
                cursor: default;
            }
        }
    }
}

.bs-popover-top > .arrow::before, .bs-popover-auto[x-placement^="top"] > .arrow::before {
    border-top-color: #A8B4C2 !important;
    bottom: 1px;
}

.bs-popover-bottom > .arrow::before, .bs-popover-auto[x-placement^="bottom"] > .arrow::before {
    border-bottom-color: #A8B4C2 !important;
    top: 1px;
}



.select2-container--default .select2-selection--single {
    border-radius: 5px;
    background: #1a222c!important;
    border: 0 !important;
    height: 35px;

    -webkit-box-shadow: inset 0 2px 6px rgba(0,0,0,.25)!important;
    box-shadow: inset 0 2px 6px rgba(0,0,0,.25)!important;

    outline: 0 !important;

}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
    margin-left: 13px;
    margin-right: 25px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    color: #a6b4c4;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 2px;
    right: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #51565c transparent transparent transparent;
    border-width: 5px 5px 0 5px;
    margin-top: 1px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #51565c transparent;
    border-width: 0 5px 5px 5px;
    margin-top: 1px;
}

.select2-dropdown {
    border: none !important ;
    background: none;
    margin-top: 2px;
}

.select2-results__option {
    height: 30px;
    line-height: 19px;
    font-size: 14px;

    padding-left: 20px;
}

.select2-results__option[aria-selected] {
    color: #fff;

}

.select2-results__options {
    border-radius: 5px;
    box-shadow: inset 0 2px 6px rgba(0,0,0,.25)!important;
    background: #1a222c;

}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #fff;
    background: #25303b;
}

.select2-results__option .select2-results__option--highlighted {
    background: #1a222c;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.select2-container--default .select2-results__option[aria-selected=true]:hover {
    color: #fff;
    background: #25303b;
}
