// GUI stylies of the project
// For example, styles of the links, buttons and so on.


.aside-announcement-svg {
    @include bg-svg($aside-announcement);
    &:hover, &.hover {
        @include bg-svg($aside-announcement-hover);
    }
}

.aside-apps-svg {
    @include bg-svg($aside-apps);
    &:hover, &.hover {
        @include bg-svg($aside-apps-hover);
    }
}

.aside-inbox-svg {
    @include bg-svg($aside-inbox);
    &:hover, &.hover {
        @include bg-svg($aside-inbox-hover);
    }
}

.aside-review-svg {
    @include bg-svg($aside-review);
    &:hover, &.hover {
        @include bg-svg($aside-review-hover);
    }
}

.aside-wallet-svg {
    @include bg-svg($aside-wallet);
    &:hover, &.hover {
        @include bg-svg($aside-wallet-hover);
    }
}

.icon-log-in {
    @include bg-svg($log-in);
    opacity: 0.5;
    &:hover {
        opacity: 1;
        @include bg-svg($log-in-hover);
    }
}

.icon-filter {
    @include bg-svg($filter);
    &:hover, &.hover {
        opacity: 1;
        @include bg-svg($filter-hover);
    }
}

.icon-plus {
    @include bg-svg($plus);
}

.icon-arrow {
    @include bg-svg($arrow-down);
    &:hover {
        @include bg-svg($arrow-down-hover);
    }
}

.icon-soc {
    @include bg-svg($soc);
    &:hover {
        @include bg-svg($soc-hover);
    }
}
.icon-facebook {
    @include bg-svg($soc-facebook);
    &:hover {
        @include bg-svg($soc-facebook-hover);
    }
}
.icon-twitter {
    @include bg-svg($soc-twitter);
    &:hover {
        @include bg-svg($soc-twitter-hover);
    }
}

.icon-trending-up {
    @include bg-svg($trending-up);
}

.icon-trending-down {
    @include bg-svg($trending-down);
}

.icon-star {
    @include bg-svg($star);
}

.icon-half-star {
    @include bg-svg($star-half);
}

.icon-full-star {
    @include bg-svg($star-full);
}

.icon-back-blue {
    @include bg-svg($back-hover);
}
.icon-aside-check {
    @include bg-svg($aside-check);
}
.icon-tooltip {
    @include bg-svg($icon-tooltip);
    &:hover, &.hover {
        @include bg-svg($icon-tooltip-hover);
    }
}
.server-success {
    @include bg-svg($server-success);
}

.server-error {
    @include bg-svg($server-error);
}

.icon-server {
    @include bg-svg($icon-server);
}

.platform-icon {
    @include bg-svg($platform-icon);
}

.platform-icon2 {
    @include bg-svg($platform-icon2);
}

.platform-icon3 {
    @include bg-svg($platform-icon3);
}

.platform-icon4 {
    @include bg-svg($platform-icon4);
}

.platform-icon5 {
    @include bg-svg($platform-icon5);
}

.platform-icon6 {
    @include bg-svg($platform-icon6);
}

.icon-server-page {
    @include bg-svg($icon-server-page);
}

.icon-payment {
    @include bg-svg($icon-payment);
}

.icon-dynamic {
    @include bg-svg($icon-dynamic);
}

.icon-moderation {
    @include bg-svg($icon-moderation);
}

.icon-refresh {
    @include bg-svg($refresh);
    &:hover, &:focus {
        @include bg-svg($refresh-hover);
    }
}
