$main-bg: #1A222C;
$light-bg: #25303B;
$dark-bg: #0D131B;

$white-color: #ffffff;

$light-gray-color: #FAFBFE;

$gray-color: #A6B4C4;
$link-color: #51A7F8;

$red-color: #C04023;
$green-color: #2AA927;


%p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $gray-color;
}

p {
    @extend %p;
}

%h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #FAFBFE;
}

h1, .h1 {
    @extend %h1;
}

%h5 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #A6B4C4;
}

h5, .h5 {
    @extend %h5;
}

%h2 {
    font-size: 24px;
    line-height: 29px;
    font-family: "Montserrat";
    font-weight: bold;
}

h2, .h2 {
    @extend %h2;
}

%text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.text {
    @extend %text;
}

.bold {
    font-weight: bold;
}

.text-bold {
    @extend %text;
    font-weight: bold;
}
