<div class="order-item">
    <div class="order-item__header">
        <div class="d-flex order-item__tabs">
            <div class="order-item__tab">#28-315</div>
            <div class="order-item__tab active">Approved</div>
        </div>

        <div class="d-flex flex-column flex-md-row">
            <div class="order-item__advertiser">
                <div>Advertiser</div>
                <span>Hulioramos@gmail.com</span>
            </div>

            <div class="order-item__server">
                <div>Server</div>
                <a href="#">My Humble Christian Discord Server</a>
            </div>

            <div class="order-item__price ml-auto">
                <div>Price</div>
                <span>$120.00</span>
            </div>

            <div class="order-item__scheduled">
                <div>Scheduled at</div>
                <span>Jan 18, 18:23</span>
            </div>
        </div>
    </div>
    <div class="order-item__body">
        <p><a href="javascript:void(0)">@everyone</a> Do ad aliquip qui consequat elit mollit pariatur pariatur. Sunt
            nostrud excepteur exercitation culpa dolor irure excepteur culpa. In eu officia proident incididunt ex cillum id </p>
        <p>Check this website: <a href="example.com">example.com </a></p>
    </div>
</div>
