.order-item {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);

    &__header {
        background: #25303B;
        padding: 20px;
    }
    &__tabs {
        margin-bottom: 5px;
        flex-wrap: wrap;
    }

    &__tab {
        background: #2D3844;
        border-radius: 4px;
        margin-right: 10px;
        font-size: 10px;
        line-height: 1;
        text-align: center;
        color: #F7F6F7;
        font-weight: bold;
        padding: 6px 20px;
        height: 22px;
        margin-bottom: 5px;

        &:last-child {
            margin-right: 0;
        }
        &.active {
            background: #45515D;
        }

        &.btn-join-server {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background: $link-color;
            transition: all 0.25s;

            &:hover {
                text-decoration: none;
                color: $white-color;
            }

            &:focus, &:active {
                opacity: 0.9;
            }
        }
    }
    &__tab-icon {
        display: flex;
        align-items: center;
        padding: 5px 30px 5px 40px;
        position: relative;

        .icon {
            display: block;
            top: 0;
            bottom: 0;
            left: 5px;
            position: absolute;
            margin: auto;
        }
    }

    &__advertiser,
    &__server,
    &__price,
    &__scheduled {
        @extend %p;
        margin-right: 20px;
        font-weight: 300;
        @media screen and (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 10px;
        }

        span {
            display: block;
            color: $white-color;
            font-weight: 500;
        }

        a {
            @extend %p;
            text-decoration: none;
            display: block;
            color: $white-color;
            font-weight: 500;
            transition: all 0.25s;
            &:hover {
                color: $link-color;
                text-decoration: underline;
            }
        }
    }

    &__scheduled {
        margin-right: 0;
    }

    &__scheduled,
    &__price {
        text-align: right;
        @media screen and (max-width: 768px) {
            text-align: left;
            margin-left: 0 !important;
            margin-right: auto;
        }
    }

    &__body {
        padding: 20px;
        background: #1F2934;

        p {
            margin-bottom: 20px;
            @extend %p;
            color: $gray-color;
            font-weight: 300;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            font-size: 14px;
            line-height: 17px;
            color: $gray-color;
            text-decoration: none;
            transition: all 0.25s;
            font-weight: 300;

            &:hover {
                text-decoration: none;
                color: $link-color;
            }
        }
    }
}
