<div class="review text-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="main.html" class="link-back">
                    <div class="icon-back-blue"></div>
                    Back to browse</a>
                <div class="h2">Terms of Service</div>
                <p class="text-page__p">These terms are effective as of 1 April 2020</p>
                <p>The following terms and conditions of service ("these terms") regulates and define the relationship
                    between you ("the user/guest/customer") and Craable, Inc. trading as Donnly ("Us/We/Company"). By
                    using our platform or use any of our services you automatically agree to be bound by these terms, be
                    sure to read the terms and conditions and in the event, you have questions do contact support at any
                    time for clarification or confirmation.
                    By using our services you acknowledge that you understand and agree to the terms stated, we shall
                    ensure that the terms are expressed in layman terms and as such shall not be confusing and full
                    compliance with federal and state laws and regulations.
                    We value all relationships with guests, users and our customers, and as such, your security and
                    safety are exceptionally important to us. All services provided by us must be used for lawful
                    purposes.</p>

                <div class="h5">Changes</div>
                <p>We reserve the right at our sole discretion to modify or replace any part of this Agreement. It is
                    your responsibility to check this Agreement periodically for changes. Your continued use of or
                    access to the services following the changes to our terms constitutes acceptance to such terms. You
                    can stop using our services at any time, although we will be sad to see you go if there is anything,
                    we can do for you feel free to contact our support. </p>

                <div class="h5">Eligibility and use</div>
                <p>Donnly revers the right to allow users above the age of thirteen to use the services, or when a user
                    has parental consent such will be assumed.<br>
                    Donnly provides discord server owners with the ability to advertise their servers on our platform
                    for a fee and allows discord owners to receive advertisements on our website in return for a
                    payment. In essence, Donnly is an advertising platform for discord owners where advertisement takes
                    place for both to earn money via an advertisement or receive the advertisement. </p>

                <div class="h5">Payments</div>
                <p>Following our internal transparency policies, we want to ensure all users that our fees are quite
                    modest. We charge the following fees on payments collected, and we do not charge the charities any
                    other fees to send payments. The following table outlines our fees policy (automatically included in
                    your donation). (Refer to the payment page on the website itself). We charge in essence 10%
                    (percent) with a minimum of $1 (United States dollar) for a transaction/sale/advertisement sent.
                    Meaning the discord server owner shall receive 90% (percent) of the transaction/sale/advertisement.
                    In the event the amount is below $1 – no payment will be delivered as such we shall reserve the
                    funds.<br>
                    All funds are placed on hold for seven days after payment in the event the advertiser requests a
                    refund.</p>

                <div class="h5">Cancellation and refunds</div>
                <p>You can terminate your relationship with us at any time. All you need to do is terminate or delete
                    your account from our platform. You can request a withdrawal of all your funds (given its above $1
                    USD) before termination of your account. (Do note all payments are placed on hold for seven
                    days).<br>
                    Unfortunately, we do not offer refunds, we believe these terms clearly outline how the platform
                    works, and the platform itself when signing up explains the process once again. In the event, you
                    believe you have been incorrectly charged, and you wish to seek a resolution regarding it. You can
                    contact our support, and we will provide a detailed statement on the charges and how the total was
                    calculated. If there were an error, we would be happy to refund the funds that have been calculated
                    in error. But do keep in mind we do not refund any payments that have been correctly calculated and
                    deducted.</p>

                <div class="h5">Your account</div>
                <p>As with any account you've created before on other platforms, it works the same with us. Your
                    credentials need to be protected by yourself, although we take security extremely important, we
                    cannot be held liable for your actions. We urge you not to share your account details with anyone.
                    Information contained on your account is considered sensitive by nature, and as such, anyone with
                    ill-intent can use such information maliciously against you.<br>
                    We will, unfortunately, have to keep you liable in the event we suffer any damages due to the result
                    of you not exercising care over your account. Please, do not allow any unauthorized access to your
                    account. With that said, you agree that the information that you've signed up with is accurate,
                    current, and complete. You will be provided with the opportunity to update your data at any time
                    within the account section of the platform.</p>

                <div class="h5">Ownership</div>
                <p>We like our platform and strive to do sound good with it, with that said we do want to protect it not
                    just for our benefit but for the benefit of the thousands of charities we support and thousands of
                    people we indirectly help. We own and control any material showcased, viewed, or shown on our
                    platform; this includes but not limited to; texts, images, audio clips, and so forth. Sometimes we
                    use images and branding from the charities, but such ownership of charitable branding remains the
                    ownership of the respective charities. We have permission to use it.<br>
                    If you do wish to use our intellectual property for educational purposes or any other means that
                    falls under the category of "Fair use" feel free to do so, however, we do suggest contacting our
                    support for permission first, to ensure it falls under the category of "fair use."</p>

                <div class="h5">Liability and Indemnification</div>
                <p>We can be seen as a "Middle Man" between you and other discord servers. As such, we facilitate the
                    transaction and interaction between you and the discord servers. We take no responsibility for your
                    actions relating to; Disputes, unethical behavior, or the actions contributed to the discord
                    servers. As such, we take no liability for the actions of the discord servers.<br>
                    With that said, you do agree to hold us harmless in the event you wish to institute any claims for
                    damages or damage caused to you or anyone you might represent. This includes any suits, costs,
                    breach of personal or professional duties, or any other matter that would cause harm to us. We
                    cannot be held liable or be caused any harm from your actions or another.<br>
                    We here at Donnly agree always to do our due diligence. But sometimes, as any human error, we make
                    mistakes, never intentionally. You agree not to hold us liable for any actions we might have
                    directly or indirectly caused you, either intentionally or negligently.</p>

                <p><b>Contingency provision</b><br>In the event these terms lack in comparison to compliance as
                    requested or demanded by law, and is
                    not provided in this terms of use, we are obligated to make such changes on request by users or any
                    visitors to our platform. This includes only a valid form of objection to the terms.<br>
                    We father introduce any other term or regulations not mentioned in this policy directly, shall be
                    governed under the jurisdiction of the United States of America, the cultural and local customs of
                    the state of Delaware. As such, we refer to the term "Common sense" that should be used in the event
                    this terms of use do not include or does not provide regulation or process to follow in the event a
                    need for it arises</p>

                <p><b>Governing law</b><br>These terms and the interpretation of these terms will be governed by and
                    construed
                    following the
                    laws of the state of Delaware.<br>
                    You agree that jurisdiction over and venue in any legal proceeding directly or indirectly arising
                    out of or relating to the Application, the use or access thereof, or these terms must be in the
                    state or federal courts located in Delaware County, Delaware, and you now consent and submit to the
                    exclusive personal jurisdiction and venue of the courts located in Delaware, Delaware for any such
                    legal proceeding. Any cause of action or claim you may have concerning the Application must be
                    commenced within one (1) year after such claim or cause of action arises.</p>
            </div>
        </div>
    </div>
</div>
