.text-page {
    color: #838F9E;
    .h2 {
        color: #FAFBFE;
        margin-bottom: 5px;
    }

    .h5 {
        color: #FAFBFE;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    p {
        @extend %text;
        color: #838F9E;
        margin-bottom: 20px;
        &.text-page__p {
            color: #606B78;
            margin-bottom: 10px;
        }
    }

    &__p {
        color: #606B78;
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 20px;
        li {
            position: relative;
            display: inline-block;

            &:before {
                content: '-';
                display: inline-block;
                @extend %text;
                margin-right: 5px;
            }
        }
    }
}
