<div class="footer">
    <div class="container">
        <div class="row pl-3 pr-3 footer__wrap">
            <div class="d-flex footer__info">
                <div class="footer__icon d-none d-lg-block">
                    <img src="static/img/general/logo-footer.svg" alt="footer icon">
                </div>
                <div class="footer__text">© All rights reserved. 2020.
                    <br>Donnly.com is a division of Craable, Inc.
                </div>
            </div>

            <ul class="footer__soc">
                <li class="footer__soc--item">
                    <a href="javascript:void(0)" class="footer__soc--link icon-soc">
                    </a>
                </li>

                <li class="footer__soc--item">
                    <a href="javascript:void(0)" class="footer__soc--link icon-facebook">

                    </a>
                </li>

                <li class="footer__soc--item">
                    <a href="javascript:void(0)" class="footer__soc--link icon-twitter">
                    </a>
                </li>
            </ul>

            <ul class="footer__menu">
                <li class="footer__menu--item">
                    <a href="terms-of-service.html" class="footer__menu--link">Terms of Service</a>
                </li>
                <li class="footer__menu--item">
                    <a href="privacy-policy.html" class="footer__menu--link">Privacy Policy</a>
                </li>
                <li class="footer__menu--item">
                    <a href="javascript:void(0)" class="footer__menu--link">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>

