.footer {
    background-color: #0D131B;
    padding: 41px 0;

    @media screen and (max-width: 992px) {
        padding: 22px 0;
    }

    &__wrap {
        justify-content: space-between;
        @media screen and (max-width: 992px) {
           flex-direction: column;
            align-items: center;
        }
    }

    &__info {
        align-items: center;
        @media screen and (max-width: 992px) {
           order: 3;
        }
    }

    &__icon {
        margin-right: 10px;
        height: 43px;
        width: 43px;
        img {
            width: 100%;
        }
    }

    &__text {
        @extend %text;
        color: #565A5F;
        @media screen and (max-width: 992px) {
            text-align: center;
        }
        @media screen and (max-width: 576px) {
            font-size: 13px;
            line-height: 16px;
        }
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        @media screen and (max-width: 992px) {
            order: 2;
            margin: 22px 0 20px 0;
        }

        @media screen and (max-width: 576px) {
            flex-direction: column;
            align-items: center;
        }

        &--item {
            display: block;
            margin-right: 20px;
            @media screen and (max-width: 576px) {
                margin-right: 0;
                margin-bottom: 10px;
            }

            &:last-child {
                margin-right: 0;
                @media screen and (max-width: 576px) {
                    margin-bottom: 0;
                }
            }
        }

        &--link {
            @extend %text;
            color: #8A8E95;
            transition: all 0.25s;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                color: $link-color;
            }
        }
    }

    &__soc {
        list-style: none;
        margin-bottom: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 992px) {
            order: 1;
        }

        &--item {
            display: block;
            margin: 0 15px;
        }

        &--link {
            display: block;
            svg {
                fill: #353F49;
                transition: all 0.25s;
            }

            &:hover svg {
                fill: $link-color;
            }
        }
    }
}
