<div class="review">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-none d-md-flex welcome">
                    <div class="welcome__avatar avatar-svg">
                        <img src="static/img/general/avatar.svg">
                    </div>

                    <div class="welcome__name">
                        Welcome back, Cranch#7816
                    </div>

                    <div class="welcome__message">you’re logged as discord server owner</div>

                    <a href="javascript:void(0)" class="welcome__out ml-auto">
                        <div class="icon-log-in"></div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 aside">
                {{> aside/aside-main}}
            </div>

            <div class="col-lg-9">
                <div class="h5 review__date">Mon, Jan 18</div>
                {{> orders/inner/order-item}}
                {{> orders/inner/order-item}}

                <div class="h5 review__date">Mon, Jan 18</div>
                {{> orders/inner/order-item}}
                {{> orders/inner/order-item}}
            </div>
        </div>
    </div>
</div>
