.settings {
    background: #25303B;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    margin-bottom: 30px;

    &__header {
        padding: 20px;
        border-bottom: 1px solid #1A222C;;

        .text {
            margin-bottom: 5px;
            font-weight: bold;
            color: #A6B4C4;
        }

        p {
            margin-bottom: 0;
            color: #96A3B3;
        }
    }

    &__item {
        align-items: center;
        justify-content: space-between;
        padding: 11px 20px;
        border-bottom: 1px solid #1A222C;
        @extend %p;
        color: #96A3B3;

        @media screen and (max-width: 576px) {
            padding: 20px;
        }

        &:last-child {
            margin-bottom: none;
        }
    }

    &__input {
        width: 126px;
        flex-shrink: 0;
        @media screen and (max-width: 576px) {
            width: 122px;
        }

        input {
            background: $main-bg;
            box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            border: none;
            height: 35px;
            text-align: center;
            @extend %p;
            color: $gray-color;
            width: 100%;

            &:focus, &:active {
                outline: none;
            }

            &::placeholder {
                @extend %p;
                color: $gray-color;
            }
        }
    }

    &.settings-wrap .settings__item {
        @media screen and (max-width: 576px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 20px;

            .settings__input {
                width: 100%;
                margin-top: 10px;

                input {
                    text-align: left;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }

            .wrap-select {
                width: 100%;
            }

            .bootstrap-select.select-auto {
                width: 100% !important;
                margin-top: 10px;
            }
        }
    }
}

.server-line {
    padding: 10px 20px 10px 10px;
    align-items: center;
    background: #25303B;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    margin-bottom: 30px;
    @media screen and (max-width: 992px) {
        flex-wrap: wrap;
        padding: 10px;
    }

    &__avatar {
        border-radius: 8px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        flex-shrink: 0;
        margin-right: 20px;
        @media screen and (max-width: 576px) {
            margin-right: 10px;
        }

        img {
            width: 100%;
        }
    }

    &__info {
        margin-right: auto;
        @media screen and (max-width: 576px) {
            max-width: calc(100% - 60px);
        }
    }

    &__name {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #A6B4C4;
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        .icon {
            width: 22px;
            height: 22px;
            margin-left: 10px;
            cursor: pointer;
            @include bg-svg($refresh);
            &:hover, &:focus {
                @include bg-svg($refresh-hover);
            }
        }
    }

    .row-btn {
        @media screen and (max-width: 992px) {
            width: 100%;
            margin-top: 20px;
        }
    }

    .btn-blue {
        margin-right: 30px;
        @extend %text;
        padding: 10px 20px;
        height: auto;
        @media screen and (max-width: 576px) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}

.save-change {
    margin-bottom: 0;

    &.fixed {
        max-width: 510px;
        position: fixed;
        width: calc(100% - 30px);
        left: 0;
        right: 0;
        margin: auto;
        bottom: 10px;
    }
}

.settings-row-btn {
    .btn-blue {
        @extend %text;
        padding: 10px 20px;
        height: auto;
    }
}
