<div class="review">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-none d-md-flex welcome">
                    <div class="welcome__avatar avatar-svg">
                        <img src="static/img/general/avatar.svg">
                    </div>

                    <div class="welcome__name">
                        Welcome back, Cranch#7816
                    </div>

                    <div class="welcome__message">you’re logged as discord server owner</div>

                    <a href="javascript:void(0)" class="welcome__out ml-auto">
                        <div class="icon-log-in"></div>
                    </a>
                </div>

                <a href="dashboard.html" class="link-back">
                    <div class="icon-back-blue"></div>
                    Back to Overview</a>

                <div class="d-flex server-line">
                    <div class="server-line__avatar">
                        <img src="static/img/content/server.png">
                    </div>

                    <div class="server-line__info">
                        <div class="server-line__name">Angel cafe
                            <div class="btn-tooltip icon icon-refresh" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This refreshes you server name, image and channels."></div>
                        </div>
                        <a href="#" class="link">Visit your page as advertiser</a>
                    </div>

                    <div class="d-none row-btn d-md-flex">
                        <a href="#" class="btn btn-blue">Save Changes</a>
                        <a href="#" class="btn btn-red-line">Delete Server</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="settings settings-wrap">
                    <div class="settings__header">
                        <div class="text">General settings</div>
                        <p>Set how much it costs for advertisers to send an advertisement</p>
                    </div>
                    <div class="d-flex settings__item">
                        <div class="d-flex">Server Status
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="wrap-select">
                            <select class="select-auto">
                                <option>Enabled</option>
                                <option>Disabled</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">Server Category
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="wrap-select">
                            <select class="select-auto">
                                <option>Entertainment</option>
                                <option>Entertainment</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex settings__item">
                        <div class="d-flex">Server Language
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="wrap-select">
                            <select class="select-auto">
                                <option>Vietnamese</option>
                                <option>English</option>
                                <option>Русский</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="settings settings-wrap">
                    <div class="settings__header">
                        <div class="text">Setting price (cumulative)</div>
                        <p>Set how much it costs for advertisers to send an advertisement</p>
                    </div>
                    <div class="d-flex settings__item">
                        <div class="d-flex">General message
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>

                        <div class="settings__input">
                            <input type="text" placeholder="" value="12">
                        </div>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">External links
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>

                        <div class="settings__input">
                            <input type="text" placeholder="" value="12">
                        </div>
                    </div>
                    <div class="d-flex settings__item">
                        <div class="d-flex">Discord invites
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>

                        <div class="settings__input">
                            <input type="text" placeholder="" value="12">
                        </div>
                    </div>

                    <div class="d-flex settings__item">
                        <div>Ping – @everyone</div>

                        <div class="settings__input">
                            <input type="text" placeholder="" value="$0">
                        </div>
                    </div>
                    <div class="d-flex settings__item">
                        <div>Ping – @here</div>

                        <div class="settings__input">
                            <input type="text" placeholder="" value="$0">
                        </div>
                    </div>

                    <div class="d-flex settings__item">
                        <div>Ping other roles</div>

                        <div class="settings__input">
                            <input type="text" placeholder="" value="$0">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="settings settings-wrap">
                    <div class="settings__header">
                        <div class="text">Advertising rules</div>
                        <p>Set how much it costs for advertisers to send an advertisement</p>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">Allows Links
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="wrap-select">
                            <select class="select-auto">
                                <option>Allow</option>
                                <option>Allow</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">Allows Pings
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="wrap-select">
                            <select class="select-auto">
                                <option>Allow</option>
                                <option>Allow</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">Allows Invites
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="wrap-select">
                            <select class="select-auto">
                                <option>Allow</option>
                                <option>Allow</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">Allows NSFW
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="wrap-select">
                            <select class="select-auto">
                                <option>Allow</option>
                                <option>Allow</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">Ads Moderation
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="wrap-select">
                            <select class="select-auto">
                                <option>Enabled</option>
                                <option>Disabled</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">Advertising Channel
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="wrap-select">
                            <select class="select-auto">
                                <option>#paid-promotions</option>
                                <option>#paid-promotions</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">Donnly Advertisements
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="wrap-select">
                            <select class="select-auto">
                                <option>Allow</option>
                                <option>Allow</option>
                                <option>Allow</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="settings settings-wrap">
                    <div class="settings__header">
                        <div class="text">Cooldown (After receiving an advertising message)</div>
                        <p>How long should your Discord server be unavailable for</p>
                    </div>
                    <div class="d-flex settings__item">
                        <div>Hours</div>

                        <div class="settings__input">
                            <input type="text" placeholder="" value="0">
                        </div>
                    </div>

                    <div class="d-flex settings__item">
                        <div>Days</div>

                        <div class="settings__input">
                            <input type="text" placeholder="" value="0">
                        </div>
                    </div>
                </div>

                <div class="d-block d-md-none settings settings-row-btn">
                    <div class="settings__item">
                        <a href="#" class="btn btn-blue">Save Changes</a>
                    </div>
                    <div class="settings__item">
                        <a href="#" class="btn btn-red-line">Delete Server</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

