<a href="javascript:void(0)" class="d-flex flex-column flex-sm-row dashboard-server__item">
    <div class="dashboard-server__image">
        <img src="static/img/content/server.png" alt="">
    </div>

    <div class="dashboard-server__info">
        <div class="dashboard-server__name">Angel cafe
            <div class="server-status active">active</div>
        </div>

        <div class="d-flex">
            <div class="dashboard-server__image d-block d-sm-none">
                <img src="static/img/content/server.png" alt="">
            </div>
            <div class="d-flex dashboard-server__rating">
                <div class="icon-full-star"></div>
                <div class="icon-full-star"></div>
                <div class="icon-full-star"></div>
                <div class="icon-half-star"></div>
                <div class="icon-star"></div>
                <span>(5 reviews)</span>
            </div>
        </div>

        <div class="d-flex dashboard-server__statistic">
            <div class="dashboard-server__statistic--item">Earned <span>$32,232</span></div>
            <div class="dashboard-server__statistic--item">Orders<span>581</span></div>
            <div class="dashboard-server__statistic--item">Starts at<span>$40.00</span></div>
        </div>
    </div>

    <div class="dashboard-server__arrow">
        <div class="arrow"></div>
    </div>
</a>

