.message-popup {
    display: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    align-items: center;

    &.show {
        display: block;
    }

    &__icon {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        flex-shrink: 0;
    }

    &__text {
        @extend %text;
        color: #CBD3DC;

        .bold {
            color: #F7F6F7;
        }
    }

    &.error {
        background: #CD5238;
        border: 2px solid #AF452F;
        .message-popup__icon {
            @include bg-svg($message-popup-error);
        }
    }

    &.success {
        background: #2AA927;
        border: 2px solid #1D981B;
        .message-popup__icon {
            @include bg-svg($message-popup-success);
        }
    }

    &__close {
        width: 24px;
        flex-shrink: 0;
        margin-left: auto;
        cursor: pointer;
        @include bg-svg($popup-close);
    }
}
