<div class="d-flex message-popup error show">
    <div class="message-popup__icon"></div>
    <div class="message-popup__text">
        <div class="bold">Error message</div>
        <div>Description of the error mesage</div>
    </div>
    <div class="message-popup__close">
    </div>
</div>
