<div class="d-flex message-popup success show">
    <div class="message-popup__icon"></div>
    <div class="message-popup__text">
        <div class="bold">Succesful message</div>
        <div>Description of the succesful mesage</div>
    </div>
    <div class="message-popup__close"></div>
</div>
