.welcome {
    align-items: center;
    background: $light-bg;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 5px 5px 5px 20px;
    margin-bottom: 30px;

    &__avatar,
    &__name,
    &__message {
        margin-right: 20px;
    }

    &__avatar {
        height: 40px;
        width: 40px;
        position: relative;
        border-radius: 50%;
        flex-shrink: 0;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
    }

    &__name {
        color: $gray-color;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }

    &__message {
        padding: 5px 20px;
        background: #45515D;
        border-radius: 4px;
        font-size: 10px;
        line-height: 12px;
        color: #F7F6F7;
        font-weight: bold;
    }

    &__out {
        height: 52px;
        width: 52px;
        background: #1C2631;
        border-radius: 8px;
        cursor: pointer;
        position: relative;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.25s;
        svg {
            fill: $white-color;
            transition: all 0.25s;
            opacity: 0.5;
        }

        &:hover {
            svg {
                opacity: 1;
                fill: $link-color;
            }
        }
    }
}

.review {
    padding-bottom: 80px;

    &__date {
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
            margin-bottom: 10px;
        }
    }

    &__block {
        padding-bottom: 10px;
    }
}
