.balance-block {
    background: #25303B;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;

    &__header {
        padding: 20px;

        .text-bold {
            margin-bottom: 5px;
            color: $gray-color;
        }

        p {
            margin-bottom: 0;
            color: #96A3B3;
        }
    }

    &__item {
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $main-bg;
        padding: 20px;
        @extend %p;
    }

    &__col1 {
        color: #96A3B3;
        display: flex;
        align-items: center;
    }

    &__col2 {
        margin-left: auto;
        font-weight: bold;
        color: #F7F6F7;;
    }
}

.balance-form {
    background: #25303B;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

.balance-info {
    margin-bottom: 20px;
    overflow: hidden;
    background: $light-bg;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;

    &__text {
        padding: 20px 20px 9px 20px;

        p {
            margin-bottom: 18px;
            color: #96A3B3;
            @extend %p;
        }
    }

    &__footer {
        border-top: 1px solid $main-bg;
        padding: 20px;

        .btn {
            width: 100%;
        }
    }
}

.transactions {
    background: $light-bg;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    overflow: hidden;

    &__header {
        border-bottom: 1px solid $main-bg;
        padding: 20px;

        .text-bold {
            margin-bottom: 5px;
            color: $gray-color;
        }

        p {
            margin-bottom: 0;
            color: #96A3B3;
        }
    }

    &__row {
        justify-content: space-between;
        padding: 20px;
        color: #96A3B3;
        align-items: center;
        @extend %p;

        &:nth-child(odd) {
            background: $light-bg;
        }

        &:nth-child(even) {
            background: #1F2934;
        }
    }


    &__table {
        &-header {
            font-weight: bold;
            padding: 18px 20px;
        }
    }

    &__col1 {
        width: 86px;
        flex-shrink: 0;
        margin-right: 0;
    }

    &__col2 {
        margin-left: 0;
        margin-right: auto;
    }

    &__col3 {
        flex-shrink: 0;
        margin-left: 10px;
    }
}
