<div class="review">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-none d-md-flex welcome">
                    <div class="welcome__avatar avatar-svg">
                        <img src="static/img/general/avatar.svg">
                    </div>

                    <div class="welcome__name">
                        Welcome back, Cranch#7816
                    </div>

                    <div class="welcome__message">you’re logged as discord server owner</div>

                    <a href="javascript:void(0)" class="welcome__out ml-auto">
                        <div class="icon-log-in"></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 aside">
                {{> aside/aside-main}}
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="balance-block">
                            <div class="balance-block__header">
                                <div class="text-bold">Balance</div>
                                <p>Your currency: USD (United States Dollar)</p>
                            </div>
                            <div class="d-flex balance-block__item">
                                <div class="balance-block__col1">Total balance
                                    <div class="btn-tooltip" data-toggle="tooltip"
                                         data-placement="auto" data-html="true"
                                         title="This shows the absolute total balance that will soon be available for payout"></div>
                                </div>
                                <div class="balance-block__col2">$2,739.31</div>
                            </div>
                            <div class="d-flex balance-block__item">
                                <div class="balance-block__col1">Available to payout
                                    <div class="btn-tooltip" data-toggle="tooltip"
                                         data-placement="auto" data-html="true"
                                         title="This shows the absolute total balance that will soon be available for payout"></div>
                                </div>
                                <div class="balance-block__col2">$2,739.31</div>
                            </div>
                        </div>

                        <div class="balance-form">
                            <form>
                                <div class="group-form group-form-line">
                                    <input type="email" class="group-form__input" placeholder="mypaypal@gmail.com">
                                    <input type="submit" class="btn input-submit btn-blue" value="Link PayPal">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="balance-info">
                            <div class="balance-info__text">
                                <p>You must have a total balance of $10.00 USD or greater in order to request a payout.</p>
                                <p>We
                                    charge a 10% commission with a minimum of $1 USD which goes towards the ongoing
                                    development, maintenance and growth of the platform</p>
                            </div>
                            <div class="balance-info__footer">
                                <a href="javascript:void(0)" class="btn btn-blue">Request Payout</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="transactions">
                            <div class="transactions__header">
                                <div class="text-bold">Transactions</div>
                                <p>Track your inbound and outbound transactions</p>
                            </div>
                            <div class="transition__table">
                                <div class="d-flex transactions__row transactions__table-header">
                                    <div class="transactions__col1">Date</div>
                                    <div class="transactions__col2">Description</div>
                                    <div class="transactions__col3">Amount</div>
                                </div>

                                <div class="d-flex transactions__row">
                                    <div class="transactions__col1">03/14/19</div>
                                    <div class="transactions__col2">Refund: Advertisement #122-131</div>
                                    <div class="transactions__col3">– $231.11</div>
                                </div>

                                <div class="d-flex transactions__row">
                                    <div class="transactions__col1">03/14/19</div>
                                    <div class="transactions__col2">Refund: Advertisement #122-131</div>
                                    <div class="transactions__col3">– $231.11</div>
                                </div>

                                <div class="d-flex transactions__row">
                                    <div class="transactions__col1">03/14/19</div>
                                    <div class="transactions__col2">Refund: Advertisement #122-131</div>
                                    <div class="transactions__col3">– $231.11</div>
                                </div>

                                <div class="d-flex transactions__row">
                                    <div class="transactions__col1">03/14/19</div>
                                    <div class="transactions__col2">Advertisement #122-131</div>
                                    <div class="transactions__col3">+ $231.11</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
