.header {
    height: 74px;
    flex-shrink: 0;
    &.fixed {
        height: 74px;
        .header__wrap {
            background-color: #0D131B;
        }
    }

    &__wrap {
        transition: all 0.25s;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 50;
    }
}
.navbar {
    padding: 18px 0;
    align-items: center;

    &-toggler {
        border-color: $white-color;
        width: 36px;
        height: 29px;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 8px 7px;
        position: relative;

        &-icon {
            display: block;
            height: 1px;
            width: 20px;
            background-color: $white-color;
            position: absolute;
        }

        span:nth-child(1) {
            top: 8px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        span:nth-child(2) {
            top: 13.5px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        span:nth-child(3) {
            top: 19px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        &.open span:nth-child(1) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 6px;
            left: 10px;
        }

        &.open span:nth-child(2) {
            width: 0%;
            opacity: 0;
        }

        &.open span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 20px;
            left: 10px;
        }

        &:focus, &:active {
            box-shadow: none;
            outline: none;
        }
    }

    &-brand {
        color: $white-color;
        padding: 0;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        transition: all 0.25s ease-in-out;

        span {
            font-size: 10px;
            line-height: 12px;
            margin-left: 5px;
            vertical-align: top;
            color: $light-gray-color;
            font-weight: 300;
            transition: all 0.25s ease-in-out;
        }

        &:hover {
            color: $link-color;

            span {
                color: $link-color;
            }
        }
    }

    &-collapse {
        transition: none !important;
        height: 0 !important;
        animation: none !important;
    }

    .collapse {
        transition: none !important;
        height: 0 !important;
        animation: none !important;
    }

    &-collapse.show {
        @media screen and (max-width: 992px) {
            position: relative;
            transition: none !important;
        }
    }

    &-nav {
        transition: none !important;
        @media screen and (max-width: 992px) {
            position: absolute;
            z-index: 10;
            background: #0D131B;
            width: 151px;
            padding: 12px 0;
            display: block;
            right: 0;
            top: 5px;
        }

        .nav-item {
            padding: 0;
            margin-right: 20px;
            @media screen and (max-width: 992px) {
                width: 100%;
                text-align: center;
                margin-bottom: 15px;
            }

            &:last-child {
                margin-right: 0;
                @media screen and (max-width: 992px) {
                    margin-bottom: 0;
                }
            }

            &.active {
                .nav-link {
                    border-bottom: 2px solid $link-color;
                    @media screen and (max-width: 992px) {
                        border-bottom: none;
                        color: $link-color;
                    }
                }
            }
        }

        .nav-link {
            color: $light-gray-color;
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;
            padding: 0 !important;
            transition: 0.25s ease-in-out;

            &:hover {
                color: $link-color;
            }
        }
    }
}
