<div class="review">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-none d-md-flex welcome">
                    <div class="welcome__avatar avatar-svg">
                        <img src="static/img/general/avatar.svg">
                    </div>

                    <div class="welcome__name">
                        Welcome back, Cranch#7816
                    </div>

                    <div class="welcome__message">you’re logged as discord server owner</div>

                    <a href="javascript:void(0)" class="welcome__out ml-auto">
                        <div class="icon-log-in"></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 aside">
                {{> aside/aside-main}}
            </div>

            <div class="col-lg-9">
                <div class="weekly-summary">
                    <div class="block-title">Weekly summary</div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="weekly-summary__item">
                                <div class="weekly-summary__sum">$322.12</div>
                                <div class="weekly-summary__text">Gross Volume</div>
                                <div class="d-flex weekly-summary__trending trending-down">
                                    <div class="icon icon-trending-down"></div>
                                    +1.5%
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="weekly-summary__item">
                                <div class="weekly-summary__sum">41</div>
                                <div class="weekly-summary__text">New Orders</div>
                                <div class="d-flex weekly-summary__trending trending-up">
                                    <div class="icon icon-trending-up"></div>
                                    +32.3%
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="weekly-summary__item">
                                <div class="weekly-summary__sum">32</div>
                                <div class="weekly-summary__text">New Reviews</div>
                                <div class="d-flex weekly-summary__trending trending-down">
                                    <div class="icon icon-trending-down"></div>
                                    +1.5%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="link-block">
                    <div class="block-title">Link for advertisers</div>

                    <div class="d-flex link-block__wrap">
                        <div class="col d-flex link-block__info">
                            <div class="link-block__info--item">Earned
                                <span>$12,034</span>
                            </div>

                            <div class="link-block__info--item">Hits
                                <span>3409</span>
                            </div>

                            <div class="link-block__info--item">Leads
                                <span>219</span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="d-flex link-block__link">
                                <input type="text" value="donn.ly/214-advertise-on-discord" class="code">

                                <div class="link-block__copy js-copy"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="link-block">
                    <div class="block-title">Link for server owners</div>

                    <div class="d-flex link-block__wrap">
                        <div class="col d-flex link-block__info">
                            <div class="link-block__info--item">Earned
                                <span>$32,232</span>
                            </div>

                            <div class="link-block__info--item">Hits
                                <span>8302</span>
                            </div>

                            <div class="link-block__info--item">Leads
                                <span>581</span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="d-flex link-block__link">
                                <input type="text" value="donn.ly/214-monetize-your-server" class="code">

                                <div class="link-block__copy js-copy"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
