.link-block {
    margin-bottom: 30px;

    &__wrap {
        background: #25303B;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        padding: 20px 0;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        .col {
            width: 50%;
            flex-shrink: 0;
            padding: 0 50px;
            height: 100%;
            align-self: stretch;
            position: relative;
            @media screen and (max-width: 768px) {
                width: 100%;
                padding: 0 16px;
            }

            &:first-child {
                border-right: 1px solid #1A222C;

                @media screen and (max-width: 768px) {
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    border-right: none;
                    border-bottom: 1px solid #1A222C;
                }

                &:before, &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    height: 20px;
                    width: 0;
                    border-right: 1px solid #1A222C;
                    right: -1px;
                    @media screen and (max-width: 768px) {
                        border-right: none;
                        border-bottom: 1px solid #1A222C;
                        width: 20px;
                        height: 0;
                        bottom: 0;
                        top: auto;
                    }
                }

                &:before {
                    top: -20px;
                    @media screen and (max-width: 768px) {
                        right: auto;
                        left: -20px;
                    }
                }

                &:after {
                    @media screen and (max-width: 768px) {
                        right: -20px;
                    }
                }
            }
        }
    }

    &__info {
        justify-content: space-between;
        align-items: flex-start;

        &--item {
            @extend %text;
            color: $gray-color;

            span {
                display: block;
                font-weight: bold;
                color: $white-color;
            }
        }
    }

    &__link {
        width: 100%;
        align-items: center;

        input {
            display: block;
            width: 100%;
            background: #1A222C;
            box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            height: 35px;
            padding: 9px 20px;
            font-size: 14px;
            line-height: 17px;
            color: #A6B4C4;
            border: none;
            @media screen and (max-width: 576px) {
                padding: 9px 16px;
            }
        }
    }

    &__copy {
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        flex-shrink: 0;
        @include bg-svg($copy);

        &:hover {
            @include bg-svg($copy-hover);
        }
    }
}
