<div class="error-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error-page__wrap">
                    <div class="error-page__image">
                        <img src="static/img/content/404.svg" alt="">
                    </div>

                    <div class="error-page__text">
                        <div class="error-page__text--icon">
                            <img src="static/img/content/404-error.svg" alt="">
                        </div>
                        <p>page not found</p>
                        <a href="main.html" class="link-back">
                            <div class="icon-back-blue"></div>
                            Back to browse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
