.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    &__image {
        width: 350px;
        @media screen and (max-width: 768px) {
            width: 290px;
        }

        img {
            width: 100%;
        }
    }

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        position: relative;
        padding-bottom: 150px;
        @media screen and (max-width: 1200px) {
            padding-top: 70px;
            padding-bottom: 100px;
        }
        @media screen and (max-width: 576px) {
            flex-direction: column;
            padding-top: 40px;
            padding-bottom: 100px;
        }
    }

    &__text {
        margin-left: -115px;
        text-align: right;
        @media screen and (max-width: 768px) {
            margin-left: -100px;
        }
        @media screen and (max-width: 576px) {
            margin-left: auto;
            margin-right: auto;
            margin-top: -40px;
        }

        &--icon {
            width: 302px;
            @media screen and (max-width: 768px) {
                width: 250px;
            }

            img {
                width: 100%;
            }
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            margin-bottom: 30px;
            color: #606B78;
            @media screen and (max-width: 576px) {
                margin-bottom: 15px;
                margin-top: 5px;
            }
        }

        .link-back {
            margin-bottom: 0;
            justify-content: flex-end;
        }
    }
}
