.weekly-summary {
    margin-bottom: 10px;
    @media screen and (max-width: 768px) {
        margin-bottom: 15px;
    }

    &__item {
        background: $light-bg;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
            margin-bottom: 15px
        }
    }

    &__sum {
        margin-bottom: 5px;
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #F7F6F7;
    }

    &__text {
        @extend %text;
        color: #A6B4C4;
        margin-bottom: 20px;
    }

    &__trending {
        align-items: center;
        @extend %text;
        font-weight: 300;

        .icon {
            margin-right: 5px;
        }

        &.trending-up {
            color: $green-color;
        }

        &.trending-down {
            color: $red-color;
        }
    }
}

.dashboard-server {
    &__item {
        background: $light-bg;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        align-items: stretch;
        text-decoration: none;
        position: relative;

        &:hover {
            text-decoration: none;
            color: initial;
            box-shadow: 0 2px 8px rgba(0,0,0,.32);

            .arrow {
                opacity: 1;
                border-color: $link-color;
            }
        }
    }


    &__image {
        border-radius: 8px;
        height: 110px;
        width: 110px;
        flex-shrink: 0;
        margin-right: 20px;
        @media screen and (max-width: 576px) {
            margin-right: 10px;
            display: none;
            height: 50px;
            width: 50px;
            margin-bottom: 10px;
        }

        img {
            width: 100%;
            border-radius: 8px;
        }
    }

    &__name {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $gray-color;
        margin-bottom: 12px;

        @media screen and (max-width: 576px) {
            flex-direction: column-reverse;
            align-items: flex-start;
            margin-bottom: 10px;
        }
    }

    &__rating {
        align-items: center;
        @extend %text;
        color: $gray-color;
        margin-bottom: 12px;
        @media screen and (max-width: 576px) {
            flex-wrap: wrap;
        }

        span {
            margin-left: 10px;
            @media screen and (max-width: 576px) {
                width: 100%;
                margin-left: 0;
                margin-top: 5px;
            }
        }
    }

    &__statistic {
        align-items: center;
        @media screen and (max-width: 576px) {
            flex-direction: column;
            align-items: flex-start;
        }

        &--item {
            margin-right: 40px;
            @extend %text;
            color: $gray-color;
            @media screen and (max-width: 576px) {
                display: flex;
                margin-bottom: 10px;
                margin-right: 0;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            span {
                display: block;
                font-weight: bold;
                color: $white-color;
                @media screen and (max-width: 576px) {
                    margin-left: 10px;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__arrow {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: 576px) {
            position: absolute;
            top: 0;
            right: 15px;
            height: 100%;
        }

        .arrow {
            transform: rotate(45deg);
            width: 20px;
            height: 20px;
            border-top: 2px solid $white-color;
            border-right: 2px solid $white-color;
            opacity: 0.2;
            transition: all 0.25s;
            @media screen and (max-width: 576px) {
                width: 15px;
                height: 15px;
            }

            &:hover {
                opacity: 1;
                border-color: $link-color;
            }
        }
    }

    &__add {
        background: $main-bg;
        border: 1px dashed $link-color;
        box-sizing: border-box;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @extend %text;
        color: $link-color;
        text-decoration: none;
        transition: all 0.25s;

        &:hover {
            text-decoration: none;
            cursor: pointer;
            color: #FAFBFE;
            opacity: 0.8;
            border-color: #fafbfe;

            .icon-plus {
                opacity: 0.8;
                @include bg-svg($plus-hover);
            }
        }

        .icon-plus {
            margin-right: 10px;
        }
    }
}

.server-status {
    margin-left: 20px;
    display: block;
    padding: 6px 20px;
    border-radius: 4px;
    font-size: 10px;
    line-height: 1;
    color: #F7F6F7;
    background-color: #45515D;
    @media screen and (max-width: 576px) {
        margin-left: 0;
        margin-bottom: 10px;
    }

    &.active {
        background-color: $green-color;
    }
}
