<div class="review">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-none d-md-flex welcome">
                    <div class="welcome__avatar avatar-svg">
                        <img src="static/img/general/avatar.svg">
                    </div>

                    <div class="welcome__name">
                        Welcome back, Cranch#7816
                    </div>

                    <div class="welcome__message">you’re logged as discord server owner</div>

                    <a href="javascript:void(0)" class="welcome__out ml-auto">
                        <div class="icon-log-in"></div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 aside">
                {{> aside/aside-main}}
            </div>

            <div class="col-lg-9">
                <div class="weekly-summary">
                    <div class="block-title">Weekly summary</div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="weekly-summary__item">
                                <div class="weekly-summary__sum">$322.12</div>
                                <div class="weekly-summary__text">Gross Volume</div>
                                <div class="d-flex weekly-summary__trending trending-down">
                                    <div class="icon icon-trending-down"></div>
                                    +1.5%
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="weekly-summary__item">
                                <div class="weekly-summary__sum">41</div>
                                <div class="weekly-summary__text">New Orders</div>
                                <div class="d-flex weekly-summary__trending trending-up">
                                    <div class="icon icon-trending-up"></div>
                                    +32.3%
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="weekly-summary__item">
                                <div class="weekly-summary__sum">32</div>
                                <div class="weekly-summary__text">New Reviews</div>
                                <div class="d-flex weekly-summary__trending trending-down">
                                    <div class="icon icon-trending-down"></div>
                                    +1.5%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dashboard-server">
                    <div class="block-title">Your servers</div>
                    <a href="javascript:void(0)" class="d-flex flex-column flex-sm-row dashboard-server__item">
                        <div class="dashboard-server__image">
                            <img src="static/img/content/server.png" alt="">
                        </div>

                        <div class="dashboard-server__info">
                            <div class="dashboard-server__name">Angel cafe
                                <div class="server-status active">active</div>
                            </div>

                            <div class="d-flex">
                                <div class="dashboard-server__image d-block d-sm-none">
                                    <img src="static/img/content/server.png" alt="">
                                </div>
                                <div class="d-flex dashboard-server__rating">
                                    <div class="icon-full-star"></div>
                                    <div class="icon-full-star"></div>
                                    <div class="icon-full-star"></div>
                                    <div class="icon-half-star"></div>
                                    <div class="icon-star"></div>
                                    <span>(5 reviews)</span>
                                </div>
                            </div>

                            <div class="d-flex dashboard-server__statistic">
                                <div class="dashboard-server__statistic--item">Earned <span>$32,232</span></div>
                                <div class="dashboard-server__statistic--item">Orders<span>581</span></div>
                                <div class="dashboard-server__statistic--item">Starts at<span>$40.00</span></div>
                            </div>
                        </div>

                        <div class="dashboard-server__arrow">
                            <div class="arrow"></div>
                        </div>
                    </a>

                    <a href="javascript:void(0)" class="dashboard-server__add">
                        <span class="icon-plus"></span> Link a new Discord server
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
