<div class="review">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="main.html" class="link-back">
                    <div class="icon-back-blue"></div>
                    Back to browse</a>
            </div>

            <div class="col-lg-4 aside">
                {{> aside/aside-thank-order}}
                {{> aside/aside-order-details}}
                {{> aside/aside-write-review}}
            </div>

            <div class="col-lg-8">
                <div class="order-item">
                    <div class="order-item__header">
                        <div class="d-flex flex-column flex-md-row">
                            <div class="order-item__advertiser">
                                <div>Status</div>
                                <span>Approved</span>
                            </div>

                            <div class="order-item__server">
                                <div>Server</div>
                                <a href="#">My Humble Christian Discord Server</a>
                            </div>

                            <div class="order-item__scheduled ml-auto">
                                <div>Scheduled at</div>
                                <span>Jan 18, 18:23</span>
                            </div>
                        </div>
                    </div>
                    <div class="order-item__body">
                        <p><a href="javascript:void(0)">@everyone</a> Do ad aliquip qui consequat elit mollit pariatur
                            pariatur. Sunt
                            nostrud excepteur exercitation culpa dolor irure excepteur culpa. In eu officia proident
                            incididunt ex cillum id </p>
                        <p>Check this website: <a href="example.com">example.com </a></p>
                    </div>
                </div>

                <div class="faq-table">
                    <div class="faq-table__header">
                        <div class="text">Frequently Asked Questions</div>
                        <p>These questions are frequently asked by advertisers, so we placed them here.</p>
                    </div>
                    <div class="faq-table__body">
                        <div class="faq-table__row">
                            <div class="faq-table__question">What Is Donat.us?</div>
                            <div class="faq-table__answer">
                                <p>It's an All­-In-­One solution for Discord™ server owners, which allows you to create
                                    an online store and start to accept donations for a server in just a few clicks.</p>
                            </div>
                        </div>

                        <div class="faq-table__row">
                            <div class="faq-table__question">What Is Donat.us?</div>
                            <div class="faq-table__answer">
                                <p>It's an All­-In-­One solution for Discord™ server owners, which allows you to create
                                    an online store and start to accept donations for a server in just a few clicks.</p>
                            </div>
                        </div>

                        <div class="faq-table__row">
                            <div class="faq-table__question">What Is Donat.us?</div>
                            <div class="faq-table__answer">
                                <p>It's an All­-In-­One solution for Discord™ server owners, which allows you to create
                                    an online store and start to accept donations for a server in just a few clicks.</p>
                            </div>
                        </div>

                        <div class="faq-table__row">
                            <div class="faq-table__question">What Is Donat.us?</div>
                            <div class="faq-table__answer">
                                <p>It's an All­-In-­One solution for Discord™ server owners, which allows you to create
                                    an online store and start to accept donations for a server in just a few clicks.</p>
                            </div>
                        </div>

                        <div class="faq-table__row">
                            <div class="faq-table__question">What Is Donat.us?</div>
                            <div class="faq-table__answer">
                                <p>It's an All­-In-­One solution for Discord™ server owners, which allows you to create
                                    an online store and start to accept donations for a server in just a few clicks.</p>
                            </div>
                        </div>

                        <div class="faq-table__row">
                            <div class="faq-table__question">What Is Donat.us?</div>
                            <div class="faq-table__answer">
                                <p>It's an All­-In-­One solution for Discord™ server owners, which allows you to create
                                    an online store and start to accept donations for a server in just a few clicks.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
