.faq-table {
    background: $light-bg;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    overflow: hidden;

    &__header {
        padding: 20px;
        border-bottom: 1px solid $main-bg;
        .text {
            margin-bottom: 5px;
            font-weight: bold;
            color: #A6B4C4;
        }

        p {
            margin-bottom: 0;
            color: #96A3B3;
        }
    }

    &__body {
    }

    &__row {
        padding: 20px;

        &:nth-child(odd) {
            background: $light-bg;
        }

        &:nth-child(even) {
            background: #1F2934;
        }
    }

    &__question {
        @extend %p;
        color: $gray-color;
        margin-bottom: 10px;
        font-weight: bold;
    }

    &__answer {
        @extend %p;
        color: $gray-color;

        p {
            margin-bottom: 20px;
            @extend %p;
            color: $gray-color;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
