.server-card {
    margin-bottom: 20px;
    background: #25303B;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 20px;
    align-items: center;

    &__avatar {
        width: 56px;
        height: 56px;
        flex-shrink: 0;
        margin-right: 20px;
    }

    &__name {
        color: #A6B4C4;
        margin-bottom: 12px;
        font-weight: bold;
    }
}

.graph {
    margin-bottom: 20px;
    background: #25303B;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 20px;

    .text {
        @extend %text;
        color: #A6B4C4;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__wrap {
        height: auto;
        border-radius: 8px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}

.server-info {
    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and(max-width: 576px) {
            padding: 0 !important;
            flex-direction: column;
            align-items: flex-start !important;
            .server-info__item {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 20px;
                border-bottom: 1px solid #1A222C;

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        color: #96A3B3;
        @extend %p;
        @media screen and (max-width: 1200px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media screen and (max-width: 768px) {
            flex-direction: row;
        }

        @media screen and (max-width: 576px) {
            &:last-child {
                margin-bottom: 0;
            }
        }

        span {
            margin-left: 5px;
            color: #F7F6F7;
            font-weight: bold;
        }
    }

    .settings__item {
        height: auto;
        min-height: 57px;

    }

    &__text {
        color: #F7F6F7;
        font-weight: bold;
    }
}

.advertisement {
    padding: 20px;

    &__header, .settings__header {
        padding: 0;
        border-bottom: none;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 5px;
    }

    p {
        @extend %p;
        margin-bottom: 0;
    }
}

.server-reviews {
    .settings__header {
        display: flex;
        align-items: center;

        .rating {
            margin-left: 20px;
        }
    }

    .settings__item {
        padding: 20px;
    }

    &__info {
        color: #96A3B3;
        margin-bottom: 5px;
    }

    &__text {
        color: #F7F6F7;
    }
}

.no-data {
    background: #25303B;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    &__icon {
        @include bg-svg($no-data);
        margin-bottom: 5px;
    }

    &__text {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #A6B4C4;
    }
}

.transactions {
    .no-data {
        border-radius: 0 0 8px 8px;
        margin-bottom: 0;
    }
}
