<div class="review">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="main.html" class="link-back">
                    <div class="icon-back-blue"></div>
                    Back to browse</a>

            </div>
        </div>

        <div class="row d-flex flex-column-reverse flex-md-row">
            <div class="col-md-6">
                <div class="d-none d-md-flex server-card">
                    <div class="server-card__avatar">
                        <img src="static/img/content/server2.svg">
                    </div>
                    <div class="server-card__info">
                        <div class="h5 server-card__name">Gamindustri Standard</div>
                        <div class="d-flex order-item__tabs mb-0">
                            <div class="order-item__tab">community</div>
                            <div class="order-item__tab active">english</div>
                            <a href="#" class="order-item__tab order-item__tab-icon btn-join-server"><span
                                class="icon icon-server"></span> join server</a>
                        </div>
                    </div>
                </div>

                {{> blocks/success}}
                {{> blocks/error}}

                <div class="settings server-info">
                    <div class="settings__header">
                        <div class="text mb-0">Server information</div>
                    </div>

                    <div class="settings__item server-info__main">
                        <div class="server-info__item">Total users <span>42,623</span></div>
                        <div class="server-info__item">Online users <span>2,112</span></div>
                        <div class="server-info__item">Online peak <span>8,540</span></div>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">Allows Links
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="server-success"></div>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">Allows Pings
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="server-success"></div>
                    </div>
                    <div class="d-flex settings__item">
                        <div class="d-flex">Allows Invites
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="server-success"></div>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">Allows NSFW
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="server-success"></div>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">Ads Moderation
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>
                        <div class="server-error"></div>
                    </div>

                    <div class="d-flex flex-wrap settings__item">
                        <div class="d-flex">Advertising Channel
                            <div class="btn-tooltip" data-toggle="tooltip"
                                 data-placement="auto" data-html="true"
                                 title="This shows the absolute total balance that will soon be available for payout">
                            </div>
                        </div>

                        <div class="server-info__text">#paid-promotions</div>
                    </div>
                </div>

                <div class="graph">
                    <div class="text">Concurrent users</div>
                    <div class="graph__wrap">
                        <img src="static/img/content/graph.svg" alt="graph">
                    </div>
                </div>

                <div class="settings server-reviews">
                    <div class="settings__header">
                        <div class="text mb-0">Reviews (10)</div>
                        <div class="d-none d-sm-flex rating">
                            <div class="icon-full-star"></div>
                            <div class="icon-full-star"></div>
                            <div class="icon-full-star"></div>
                            <div class="icon-half-star"></div>
                            <div class="icon-star"></div>
                        </div>
                    </div>
                    <div class="settings__item">
                        <div class="server-reviews__info">hame122 — 4.8 / 5</div>
                        <div class="server-reviews__text">Its great :) ive been telling all my streamer friends about
                            it!
                        </div>
                    </div>

                    <div class="settings__item">
                        <div class="server-reviews__info">hame122 — 4.8 / 5</div>
                        <div class="server-reviews__text">Its great :) ive been telling all my streamer friends about
                            it!
                        </div>
                    </div>

                    <div class="settings__item">
                        <div class="server-reviews__info">hame122 — 4.8 / 5</div>
                        <div class="server-reviews__text">Its great :) ive been telling all my streamer friends about
                            it!
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex flex-column flex-sm-row d-md-none dashboard-server__item">
                    <div class="dashboard-server__image">
                        <img src="static/img/content/server2.svg" alt="">
                    </div>

                    <div class="dashboard-server__info">
                        <div class="dashboard-server__name">Gamindustri Standard</div>

                        <div class="d-flex">
                            <div class="dashboard-server__image d-block d-sm-none">
                                <img src="static/img/content/server.png" alt="">
                            </div>
                            <div class="d-flex dashboard-server__rating">
                                <div class="icon-full-star"></div>
                                <div class="icon-full-star"></div>
                                <div class="icon-full-star"></div>
                                <div class="icon-half-star"></div>
                                <div class="icon-star"></div>
                                <span>(5 reviews)</span>
                            </div>
                        </div>
                        <div class="d-flex order-item__tabs mb-0">
                            <div class="order-item__tab">community</div>
                            <div class="order-item__tab active">english</div>
                            <div class="order-item__tab order-item__tab-icon blue"><span
                                class="icon icon-server"></span> join server
                            </div>
                        </div>
                    </div>
                </div>

                <div class="settings advertisement">
                    <div class="settings__header advertisement__header">
                        <div class="text">Create and send a new advertisement</div>
                        <p>Make your sentences stand out — <a href="#">check how to markdown your text</a></p>
                    </div>
                    <div class="form-group">
                        <textarea class="form-group__textarea" rows="4"
                                  placeholder="Enter your message (up to 2000 characters)"></textarea>
                    </div>

                    <p>You can also include emoji shortcodes such as :joy:</p>
                </div>

                <div class="settings">
                    <div class="settings__header">
                        <div class="text">Schedule your advertisement</div>
                        <p>All times are in Universal Time (UTC -6)</p>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">Select date</div>
                        <div class="settings__input">
                            <input type="text" placeholder="" class="js-datapicker" value="">
                        </div>
                    </div>

                    <div class="d-flex settings__item">
                        <div class="d-flex">Select time</div>
                        <div class="settings__input">
                            <input type="text" class="js-timepicker" placeholder="" value="11:00"
                                   data-toggle="popover" >
                        </div>
                    </div>
                </div>

                <div class="settings aside-details">
                    <div class="settings__header">
                        <div class="text">Order summary</div>
                        <p>Check our <a href="#">Terms of Service</a> before paying for the advertisement</p>
                    </div>
                    <div class="d-flex aside-details__item">
                        <div class="aside-details__purpose">General message</div>
                        <div class="aside-details__sum">$20.00</div>
                    </div>

                    <div class="d-flex aside-details__item">
                        <div class="aside-details__purpose">Discord invite</div>
                        <div class="aside-details__sum">$4.00</div>
                    </div>

                    <div class="d-flex aside-details__item">
                        <div class="aside-details__purpose">Ping – @here</div>
                        <div class="aside-details__sum">$4.00</div>
                    </div>
                    <div class="d-flex flex-column flex-sm-row aside-details__item aside-details__row-sum">
                        <div class="d-flex d-sm-block aside-details__purpose">Total amount
                            <span class="bold">$27.00</span>
                        </div>
                        <div class="aside-details__sum">
                            <a href="#" class="btn btn-blue">Pay with PayPal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
