<div class="review">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-none d-md-flex welcome">
                    <div class="welcome__avatar avatar-svg">
                        <img src="static/img/general/avatar.svg">
                    </div>

                    <div class="welcome__name">
                        Welcome back, Cranch#7816
                    </div>

                    <div class="welcome__message">you’re logged as discord server owner</div>

                    <a href="javascript:void(0)" class="welcome__out ml-auto">
                        <div class="icon-log-in"></div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 aside">
                {{> aside/aside-main}}
            </div>

            <div class="col-lg-9">
                <div class="no-data">
                    <div class="no-data__icon"></div>
                    <div class="no-data__text">No data</div>
                </div>

                <div class="transactions">
                    <div class="transactions__header">
                        <div class="text-bold">Transactions</div>
                        <p>Track your inbound and outbound transactions</p>
                    </div>
                    <div class="no-data">
                        <div class="no-data__icon"></div>
                        <div class="no-data__text">No data</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
