<div class="land-block work">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main-title text-center">
                    <div class="h1">How does this work?</div>
                    <div class="text">Donnly allows server owners to monetise their server activity by selling
                        advertisements!
                    </div>
                </div>

                <nav>
                    <div class="nav nav-tabs" id="nav-tab1" role="tablist">
                        <a class="nav-item nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1"
                           role="tab" aria-controls="tab1" aria-selected="true">For advertisers</a>
                        <a class="nav-item nav-link" id="tab2-tab" data-toggle="tab" href="#tab2"
                           role="tab" aria-controls="tab2" aria-selected="false">For server owners</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-5">
                                <div class="d-flex work__item">
                                    <div class="work__number"><span>1</span></div>
                                    <div class="work__text">
                                        <div class="text">Find a server</div>
                                        <p>Find the most precise and professional server for you to properly
                                            represent.</p>
                                    </div>
                                </div>

                                <div class="d-flex work__item">
                                    <div class="work__number"><span>2</span></div>
                                    <div class="work__text">
                                        <div class="text">Schedule your message</div>
                                        <p>It will represent your brand, company or anything else you are attempting to
                                            advertise for.</p>
                                    </div>
                                </div>

                                <div class="d-flex work__item">
                                    <div class="work__number"><span>3</span></div>
                                    <div class="work__text">
                                        <div class="text">Get your advertisement</div>
                                        <p>Your ad will be composed and properly managed. The traffic will surely begin
                                            to build-up!</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="main-block__image  work__image">
                                    <img src="static/img/content/land.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h5">Our platform has handled over <b>1754</b> advertisements.</div>
            </div>
        </div>
    </div>
</div>

<div class="land-block advertising">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main-title text-center">
                    <div class="h1">What can be advertised?</div>
                    <div class="text">You have the ability to advertise any type of service from Minecraft servers to
                        YouTube channels.
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column flex-lg-row">
            <div class="col-lg-5 col-12">
                <div class="advertising__item">
                    <div class="advertising__image">
                        <img src="static/img/content/social.svg" alt="">
                    </div>
                    <div class="advertising__title">Social Media</div>
                    <div class="advertising__text">Social Media advertisements are the most popular brand when it comes
                        to advertisement.
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-12">
                <div class="advertising__item">
                    <div class="advertising__image">
                        <img src="static/img/content/startup.svg" alt="">
                    </div>
                    <div class="advertising__title">Startups and services</div>
                    <div class="advertising__text">This allows for your popularity to truly grow within our service
                        allowing the benefit with no dignified doubts!
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column flex-lg-row">
            <div class="col-lg-7 col-12">
                <div class="advertising__item">
                    <div class="advertising__image">
                        <img src="static/img/content/discord.svg" alt="">
                    </div>
                    <div class="advertising__title">Discord servers</div>
                    <div class="advertising__text">Discord servers display a communal environment which often needs
                        solid popularity. Our advertisements allows for the most beneficial experience.
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="advertising__item">
                    <div class="advertising__image">
                        <img src="static/img/content/games.svg" alt="">
                    </div>
                    <div class="advertising__title">Game servers</div>
                    <div class="advertising__text">With the proper advertisement, this allows for the quickest way to
                        obtain members for your server.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h5">Obtain the ability to reach up to <b>788,316</b> users with our platform!</div>
            </div>
        </div>
    </div>
</div>

<div class="land-block platform">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main-title text-center">
                    <div class="h1">Why should I use your platform?</div>
                    <div class="text">We have a bunch of cool features, some of them we have placed below.</div>
                </div>

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="tab3-tab" data-toggle="tab" href="#tab3"
                           role="tab" aria-controls="tab3" aria-selected="true">For advertisers</a>
                        <a class="nav-item nav-link" id="tab4-tab" data-toggle="tab" href="#tab4"
                           role="tab" aria-controls="tab4" aria-selected="false">For server owners</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tab2">
                    <div class="tab-pane fade show active" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="platform__item">
                                    <div class="platform-icon platform__icon"></div>
                                    <div class="platform__title">Simple</div>
                                    <div class="platform__text">Our platform allows server owners to monetise their
                                        discord server by selling advertisements!
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="platform__item">
                                    <div class="platform-icon2 platform__icon"></div>
                                    <div class="platform__title">Targeted</div>
                                    <div class="platform__text">Our platform allows server owners to monetise their
                                        discord server by selling advertisements!
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="platform__item">
                                    <div class="platform-icon3 platform__icon"></div>
                                    <div class="platform__title">Schedule</div>
                                    <div class="platform__text">Our platform allows server owners to monetise their
                                        discord server by selling advertisements!
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="platform__item">
                                    <div class="platform-icon4 platform__icon"></div>
                                    <div class="platform__title">Statistics</div>
                                    <div class="platform__text">Our platform allows server owners to monetise their
                                        discord server by selling advertisements!
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="platform__item">
                                    <div class="platform-icon5 platform__icon"></div>
                                    <div class="platform__title">Reviews</div>
                                    <div class="platform__text">Our platform allows server owners to monetise their
                                        discord server by selling advertisements!
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="platform__item">
                                    <div class="platform-icon6 platform__icon"></div>
                                    <div class="platform__title">Safe & Secure</div>
                                    <div class="platform__text">Our platform allows server owners to monetise their
                                        discord server by selling advertisements!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="platform__item">
                                    <div class="icon-dynamic platform__icon"></div>
                                    <div class="platform__title">Dynamic Price</div>
                                    <div class="platform__text">You can separately set the price for external links and
                                        separately for invites to the Discord servers.
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="platform__item">
                                    <div class="icon-moderation platform__icon"></div>
                                    <div class="platform__title">Ad Moderation</div>
                                    <div class="platform__text">If you want to get more control over advertising, you
                                        can set a moderation for ad messages.
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="platform__item">
                                    <div class="icon-server-page platform__icon"></div>
                                    <div class="platform__title">Server Page</div>
                                    <div class="platform__text">Each server has its own page, which displays information
                                        about users, reviews and server statistics.
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="platform__item">
                                    <div class="platform-icon5 platform__icon"></div>
                                    <div class="platform__title">Reviews</div>
                                    <div class="platform__text">Advertisers will be much more willing to order ads from
                                        you when they can read reviews about your server.
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="platform__item">
                                    <div class="platform-icon3 platform__icon"></div>
                                    <div class="platform__title">Cooldown</div>
                                    <div class="platform__text">You can limit the frequency of sending advertising
                                        messages to your server and not disturb your users.
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="platform__item">
                                    <div class="icon-payment platform__icon"></div>
                                    <div class="platform__title">Automatic payments</div>
                                    <div class="platform__text">All payments on our platform are automated, so you do
                                        not have to worry about receiving payment.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
