.nav-tabs {
    border-bottom: none;
    margin-bottom: 23px;

    .nav-link {
        @extend %h5;
        color: $link-color !important;
        opacity: 0.5;
        padding: 0 !important;
        border: none;
        border-bottom: 3px solid transparent;
        background: none;
        border-radius: 0;
        font-weight: bold;
        margin-right: 20px;
        transition: all 0.25s;
        @media screen and (max-width: 576px){
            font-size: 16px;
            letter-spacing: -0.2px;
            margin-right: 15px;
        }
        &:last-child {
            margin-right: 0;
        }

        &:hover {
            border-color: transparent !important;
            opacity: 1;
        }

        &.active {
            background: none;
            opacity: 1;
            border-bottom: 3px solid $link-color;

            &:hover {
                border-color: $link-color !important;
            }
        }
    }
}

.land-block {
    padding: 50px 0 70px 0;
}

.main-title {
    margin-bottom: 50px;

    .h1 {
        margin-bottom: 5px;
    }

    .text {
        color: #8A8E95;
    }
}

.main-info {
    text-align: center;
    padding: 40px 0;
    background: #161E27;

    .h5 {
        color: #FAFBFE;
        margin-bottom: 0;
    }
}

.platform {
    &__item {
        padding: 20px;
        background: $light-bg;
        margin-bottom: 30px;
        @extend %text;
    }

    &__icon {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 5px;
        color: #FAFBFE;
        font-weight: bold;
    }

    &__text {
        color: #8A8E95;
    }
}

.work {
    &__item {
        margin-bottom: 20px;

        &:nth-child(1) {
            .work__number {
                background-color: rgba(196, 196, 196, 0.1);
            }
        }

        &:nth-child(2) {
            .work__number {
                background-color: rgba(196, 196, 196, 0.2);
            }
        }

        &:nth-child(3) {
            .work__number {
                background-color: rgba(196, 196, 196, 0.3);
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__number {
        width: 125px;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 576px){
            width: 90px;
        }
        span {
            font-weight: 900;
            font-size: 86px;
            line-height: 125px;
            color: $main-bg;
            text-align: center;
            display: block;
            margin: auto;
            @media screen and (max-width: 576px){
                font-size: 70px;
                line-height: 1;
            }
        }
    }

    &__text {
        padding: 20px;
        background: $light-bg;

        .text {
            font-weight: bold;
            color: #FAFBFE;
            margin-bottom: 5px;
        }

        p {
            @extend %text;
            color: #8A8E95;
            margin-bottom: 0;
        }
    }

    &__image {
        padding: 20px !important;
        @media screen and (max-width: 992px){
            margin-bottom: 0 !important;
            margin-top: 40px;
        }

        &:before, &:after {
            background-color: #6C63FF !important;
            opacity: 0.1;
        }

        &:before {
            width: calc(100% - 32px) !important;
            left: 0 !important;
        }
    }
}

.advertising {
    &__item {
        background: $light-bg;
        align-self: stretch;
        padding: 20px;
        height: 100%;
    }

    .col-12 {
        margin-bottom: 30px;
        @media screen and (max-width: 992px){
            padding-left: 0!important;
            padding-right: 0!important;
        }
    }

    &__title {
        font-weight: bold;
        color: #FAFBFE;
        margin-bottom: 5px;
        @extend %text;
    }

    &__text {
        @extend %text;
        color: #8A8E95;
        margin-bottom: 0;
    }

    &__image {
        height: 325px;
        margin-bottom: 20px;
        @media screen and (max-width: 576px){
            height: auto;
        }
        img {
            display: block;
            height: 100%;
            margin: auto;
            max-width: 100%;
            @media screen and (max-width: 576px){
                height: auto;
                width: 100%;
                max-height: 325px;
            }
        }
    }
    .main-title {
        @media screen and (max-width: 992px){
            padding-left: 15px !important;
            padding-right: 15px!important;
        }
    }
}
