.review {
    &__item {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
            margin-bottom: 15px;
        }
    }

    &__header {
        background-color: $light-bg;
        align-items: center;
        padding: 20px;
        @media screen and (max-width: 768px) {
            align-items: flex-start;
        }
    }

    &__body {
        padding: 20px;
        background-color: #1F2934;

        p {
            margin-bottom: 0;
        }
    }

    &__id,
    &__advertiser,
    &__server {
        @extend %p;
        margin-right: 30px;
        font-weight: 300;
        @media screen and (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 10px;
        }

        span {
            display: block;
            color: $white-color;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            display: block;
            color: #ffffff;
            font-weight: 500;
            -webkit-transition: all 0.25s;
            transition: all 0.25s;
        }
    }

    &__rating {
        margin-left: auto;
        align-items: center;
        @media screen and (max-width: 768px) {
            margin-left: 0;
        }
        svg {
            width: 24px;
            height: 24px;
            fill: $white-color;
        }
    }
}
