<div class="review__item">
    <div class="d-flex flex-column flex-md-row review__header">
        <div class="review__id">
            <div>ID</div>
            <span>#28-315</span>
        </div>

        <div class="review__advertiser">
            <div>Advertiser</div>
            <span>Hulioramos@gmail.com</span>
        </div>

        <div class="review__server">
            <div>Server</div>
            <span>Gamindustri Standard</span>
        </div>

        <div class="d-flex review__rating">
            <div class="icon-full-star"></div>
            <div class="icon-full-star"></div>
            <div class="icon-full-star"></div>
            <div class="icon-half-star"></div>
            <div class="icon-star"></div>
        </div>
    </div>

    <div class="d-flex review__body">
        <p>Do ad aliquip qui consequat elit mollit pariatur pariatur. Sunt nostrud excepteur
            exercitation culpa dolor irure excepteur culpa. In eu officia proident incididunt ex
            cillum</p>
    </div>
</div>
