<div class="aside-block aside-thanks">
    <div class="aside-thanks__check icon-aside-check"></div>
    <div class="text aside-thanks__title">Thank you for your order!</div>
    <p class="aside-thanks__text">Order number: #23-518</p>
</div>
