<div class="aside-block d-none d-lg-block">
    <div class="aside-select">
        <div class="aside-select__title">Sort by</div>
        <select class="select">
            <option>Trending</option>
            <option>Trending</option>
            <option>Trending</option>
        </select>
    </div>

    <div class="aside-select">
        <div class="aside-select__title">Language</div>
        <select class="select">
            <option>All</option>
            <option>All</option>
            <option>All</option>
        </select>
    </div>
</div>
