<div class="mb-4">
    <div class="d-flex d-md-none aside__toogle" data-toggle="collapse" data-target="#asideToogle"
         aria-controls="asideToogle"
         aria-expanded="false"><div class="icon aside-review-svg"></div> Reviews  <div class="arrow"></div>
    </div>

    <ul class="aside-menu" id="asideToogle">
        <li class="aside-menu__item">
            <a href="javascript:void(0)" class="aside-menu__link"> <div class="icon aside-apps-svg"></div> Overview</a>
        </li>
        <li class="aside-menu__item">
            <a href="javascript:void(0)" class="aside-menu__link"> <div class="icon aside-wallet-svg"></div> Payments</a>
        </li>
        <li class="aside-menu__item">
            <a href="javascript:void(0)" class="aside-menu__link"> <div class="icon aside-inbox-svg"></div> Orders</a>
        </li>
        <li class="aside-menu__item active">
            <a href="javascript:void(0)" class="aside-menu__link"> <div class="icon aside-review-svg"></div> Reviews</a>
        </li>
        <li class="aside-menu__item">
            <a href="javascript:void(0)" class="aside-menu__link"> <div
                class="icon aside-announcement-svg"></div> Support</a>
        </li>
        <li class="aside-menu__item d-block d-md-none">
            <a href="javascript:void(0)" class="aside-menu__link"> <div class="icon icon-log-in"></div> Logout</a>
        </li>
    </ul>
</div>
