<div class="aside-block d-none d-lg-block">
    <div class="aside-block__title">Categories</div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox1">
        <label class="form-checkbox-label" for="checkbox1">
            Adult
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox2">
        <label class="form-checkbox-label" for="checkbox2">
            Anime
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox3">
        <label class="form-checkbox-label" for="checkbox3">
            Art
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox4">
        <label class="form-checkbox-label" for="checkbox4">
            Business
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox5">
        <label class="form-checkbox-label" for="checkbox5">
            Community
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox6">
        <label class="form-checkbox-label" for="checkbox6">
            Crypto
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox7">
        <label class="form-checkbox-label" for="checkbox7">
            Education
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox8">
        <label class="form-checkbox-label" for="checkbox8">
            Entertainment
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox9">
        <label class="form-checkbox-label" for="checkbox9">
            Financial
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox10">
        <label class="form-checkbox-label" for="checkbox10">
            Gaming
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox11">
        <label class="form-checkbox-label" for="checkbox11">
            Language
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox12">
        <label class="form-checkbox-label" for="checkbox12">
            LGBT
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox13">
        <label class="form-checkbox-label" for="checkbox13">
            Meme
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox14">
        <label class="form-checkbox-label" for="checkbox14">
            Movies
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox15">
        <label class="form-checkbox-label" for="checkbox15">
            Movies
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox16">
        <label class="form-checkbox-label" for="checkbox16">
            Other
        </label>
    </div>
    <div class="form-checkbox">
        <input class="form-checkbox-input" type="checkbox" value="" id="checkbox17">
        <label class="form-checkbox-label" for="checkbox17">
            Technology
        </label>
    </div>
</div>
