<div class="aside-block aside-review">
    <div class="aside-review__header">
        <div class="text">Write a review</div>
        <p>Your feedback will help future customers make the right choice.</p>
    </div>
    <form>
        <div class="d-flex aside-review__rating">
            <p>Rate your experience</p>

            <div class="d-flex rating-rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text"></label>

                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text"></label>

                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text"></label>

                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text"></label>

                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text"></label>
            </div>
        </div>
        <div class="aside-review__message">
            <div class="form-group">
                <textarea class="form-group__textarea" rows="4" placeholder="Enter your message"></textarea>
            </div>

            <button type="submit" class="btn btn-blue w-100">Post review</button>
        </div>
    </form>
</div>
