<div class="aside-block aside-details">
    <div class="aside-details__item">
        <div class="text">Order details</div>
        <p>Created on February 28, 2020 at 18:21 PM</p>
    </div>
    <div class="d-flex aside-details__item">
        <div class="aside-details__purpose">General message</div>
        <div class="aside-details__sum">$20.00</div>
    </div>
    <div class="d-flex aside-details__item">
        <div class="aside-details__purpose">Discord invite</div>
        <div class="aside-details__sum">$4.00</div>
    </div>
    <div class="d-flex aside-details__item">
        <div class="aside-details__purpose">Ping – @here</div>
        <div class="aside-details__sum">$3.00</div>
    </div>
    <div class="d-flex aside-details__item">
        <div class="aside-details__purpose">Total amount</div>
        <div class="aside-details__sum">$27.00</div>
    </div>
</div>
