.aside {
    &__toogle {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        color: $gray-color;
        text-decoration: none;
        transition: all 0.25s;
        padding: 18px 20px;
        background: $light-bg;
        border-radius: 8px;
        border-bottom: none;

        &[aria-expanded="true"] {
            border-radius: 8px 8px 0 0;
            border-bottom: 1px solid $main-bg;

            .arrow {
                transform: rotate(-135deg);

                svg {
                    fill: none;
                    stroke: $link-color;
                }
            }

            .aside-review-svg {
                @include bg-svg($aside-review-hover);
            }
        }

        .icon {
            fill: $gray-color;
            margin-right: 10px;
        }

        &:hover {
            color: $link-color;
            text-decoration: none;

            svg {
                fill: $link-color;
            }

            .arrow {
                svg {
                    fill: none;
                    stroke: $link-color;
                }
            }

            .aside-review-svg {
                @include bg-svg($aside-review-hover);
            }
        }

        .arrow {
            margin-left: auto;
            display: block;
            height: 16px;
            width: 16px;
            border-bottom: 2px solid $white-color;
            border-right: 2px solid $white-color;
            transform: rotate(45deg);
            opacity: 0.2;
            transition: all 0.25s;

            &:hover {
                opacity: 1;
                border-color: $link-color;
            }
        }
    }
}

.aside-menu {
    background: $light-bg;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    list-style: none;
    padding: 0;
    display: block !important;

    &.show {
        display: block !important;
    }

    @media screen and (max-width: 768px) {
        border-radius: 0 0 8px 8px;
        display: none !important;
    }

    &__item {
        display: block;
        padding: 18px 20px;
        border-bottom: 1px solid $main-bg;

        &:last-child {
            border-bottom: none;
        }

        .icon {
            margin-right: 10px;
        }

        &.active {
            .aside-menu__link {
                color: $link-color;
            }
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        color: $gray-color;
        text-decoration: none;
        transition: all 0.25s;

        svg {
            fill: $gray-color;
        }

        &:hover {
            color: $link-color;
            text-decoration: none;

            svg {
                fill: $link-color;
            }
            .aside-apps-svg {
                @include bg-svg($aside-apps-hover);
            }

            .aside-wallet-svg {
                @include bg-svg($aside-wallet-hover);
            }

            .aside-inbox-svg {
                @include bg-svg($aside-inbox-hover);
            }

            .aside-review-svg {
                @include bg-svg($aside-review-hover);
            }
            .icon-log-in{
                @include bg-svg($log-in-hover);
            }
            .aside-announcement-svg {
                @include bg-svg($aside-announcement-hover);
            }
        }
    }
}

.active {
    .aside-apps-svg {
        @include bg-svg($aside-apps-hover);
    }

    .aside-wallet-svg {
        @include bg-svg($aside-wallet-hover);
    }

    .aside-inbox-svg {
        @include bg-svg($aside-inbox-hover);
    }

    .aside-review-svg {
        @include bg-svg($aside-review-hover);
    }
    .icon-log-in{
        @include bg-svg($log-in-hover);
    }
    .aside-announcement-svg {
        @include bg-svg($aside-announcement-hover);
    }
}

.aside-block {
    margin-bottom: 30px;
    background: $light-bg;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 20px;

    .form-checkbox {
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        @extend %text;
        color: $gray-color;
        margin-bottom: 20px;
    }
}

.aside-select {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 12px;
    }

    &__title {
        @extend %text;
        color: $gray-color;
        margin-bottom: 10px;
    }

    .bootstrap-select {
        width: 100% !important;
        transition: none !important;

        &:focus, &:active {
            outline: none !important;
        }
    }

    .bootstrap-select > .dropdown-toggle {
        background: #1A222C !important;
        box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25) !important;
        border-radius: 5px;
        padding: 10px 30px 10px 10px;
        transition: none !important;
        border: none !important;

        &:focus, &:active {
            outline: none !important;
        }

        &[aria-expanded="true"] {
            &:after {
                transform: rotate(-135deg);
                bottom: -4px;
                top: 0;
            }
        }

        &:after {
            width: 15px;
            height: 15px;
            border-bottom: 2px solid $white-color;
            border-right: 2px solid $white-color;
            transform: rotate(45deg);
            opacity: 0.2;
            transition: all 0.25s;
            position: absolute;
            top: -4px;
            bottom: 0;
            right: 15px;
            margin: auto;
            border-top: none;
            border-left: none;
        }
    }

    .filter-option-inner-inner {
        @extend %text;
        color: #A6B4C4;
    }

    .dropdown-menu {
        background: $main-bg;
        border: none;

        .dropdown-item {
            color: $gray-color;

            &:hover {
                background: $light-bg;
            }
        }
    }
}

.aside-thanks {
    &__check {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 5px;
        font-weight: bold;
        color: #A6B4C4;
    }

    &__text {
        color: #96A3B3;
        margin-bottom: 0;
    }
}

.aside-details {
    padding: 0;

    &__item {
        justify-content: space-between;
        padding: 20px;
        border-bottom: 1px solid $main-bg;

        .text {
            margin-bottom: 5px;
            font-weight: bold;
            color: #A6B4C4;
        }

        p {
            margin-bottom: 0;
            color: #96A3B3;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &__purpose {
        @extend %p;
        color: #96A3B3;

        .bold {
            display: block;
            color: $white-color;
        }
    }

    &__sum {
        @extend %p;
        color: #F7F6F7;
        font-weight: bold;
    }

    &__row-sum {
        @media screen and (max-width: 768px) {
            padding: 20px 0;
            .aside-details__purpose {
                padding: 0 20px 20px 20px;
                justify-content: space-between;
                border-bottom: 1px solid $main-bg;
            }
            .aside-details__sum {
                padding: 20px 20px 0 20px;

            }
        }
    }
}

.aside-review {
    padding: 0;
    &__header {
        padding: 20px;
        border-bottom: 1px solid #1A222C;

        .text {
            margin-bottom: 5px;
            font-weight: bold;
            color: #A6B4C4;
        }

        p {
            margin-bottom: 0;
            color: #96A3B3;
        }
    }

    &__rating {
        padding: 20px;
        border-bottom: 1px solid #1A222C;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            margin-bottom: 0;
            color: #96A3B3;
        }

        .icon-star {
            opacity: 0.2;
        }
    }

    &__message {
        padding: 20px;

        .form-group {
            margin-bottom: 20px;
        }
    }
}

