<div class="main-block">
    <div class="container">
        <div class="row flex-column-reverse flex-lg-row align-items-center">
            <div class="col-lg-6 align-self-center main-block__text">
                <div class="h2">We connect advertisers<br>
                    with Discord server owners
                </div>
                <p>Our platform gives you the ability to advertise to hundreds of thousands of users and allows you to
                    target specific Discord servers so you can advertise effectively.</p>
                <div class="d-flex inline-link">
                    <a href="javascript:void(0)" class="btn btn-border">Learn more</a>
                    <a href="javascript:void(0)" class="btn btn-link">Link new Discord server</a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="main-block__image">
                    <img src="static/img/content/promo.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="review">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{> filter/filter-main}}
            </div>

            <div class="col-lg-3 aside">
                {{> aside/aside-select}}
                {{> aside/aside-categories}}
            </div>

            <div class="col-lg-9">
                {{> dashboard/inner/dashboard-server-inactive}}
                {{> dashboard/inner/dashboard-server-inactive}}
                {{> dashboard/inner/dashboard-server-inactive}}
                {{> dashboard/inner/dashboard-server-inactive}}
                {{> dashboard/inner/dashboard-server-inactive}}
                {{> dashboard/inner/dashboard-server-inactive}}
                {{> dashboard/inner/dashboard-server-inactive}}
                {{> dashboard/inner/dashboard-server-inactive}}
            </div>
        </div>
    </div>
</div>
