.main-block {
    margin-bottom: 82px;
    margin-top: 36px;
    @media screen and (max-width: 992px) {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .h2 {
        margin-bottom: 10px;
        color: $light-gray-color;
    }

    p {
        @extend %text;
        color: #8A8E95;
    }

    .inline-link {
        margin-top: 30px;
        @media screen and (max-width: 992px) {
            margin-bottom: 40px;
        }

        .btn-link {
            margin-left: 50px;
            @media screen and (max-width: 1200px) {
                margin-left: 20px;
            }
            @media screen and (max-width: 576px) {
                margin-top: 10px;
            }
        }
    }

    &__text {
        padding-right: 80px;
        @media screen and (max-width: 1200px) {
            padding-right: 40px;
        }
        @media screen and (max-width: 992px) {
            padding-right: 15px;
        }
    }

    &__image {
        background: #111820;
        position: relative;
        width: 100%;
        padding: 32px 50px 12px 50px;
        z-index: 1;
        @media screen and (max-width: 992px) {
            margin-bottom: 62px;
            width: calc(100% - 32px);
            margin-left: auto;
        }
        @media screen and (max-width: 576px) {
            padding: 17px 25px 7px 25px;
            width: calc(100% - 16px);
        }
        &:after {
            content: "";
            height: 100%;
            width: 32px;
            background-color: #25303B;
            position: absolute;
            top: 32px;
            left: -32px;
            z-index: -1;
            @media screen and (max-width: 576px) {
                width: 16px;
                top: 18px;
                left: -16px;
            }
        }

        &:before {
            content: "";
            width: 100%;
            height: 32px;
            background-color: #25303B;
            position: absolute;
            bottom: -32px;
            left: -32px;
            z-index: -1;
            @media screen and (max-width: 576px) {
                height: 18px;
                bottom: -18px;
                left: -16px;
            }
        }

        img {
            width: 100%;
        }
    }
}

.inline-link {
    align-items: center;
    @media screen and (max-width: 576px) {
        flex-direction: column;
    }

    .btn {
        @media screen and (max-width: 576px) {
            width: 100%;
        }
    }
}
